.Page-Agency
{
    main
    {
        @extend %Clearfix;
    }
    .Before-Component
    {
        margin-top : 10px;
        z-index    : 1;
    }

    .Component
    {
        @extend %Post-Styles;
        position : relative;
        z-index  : 2;
    }
    .moduletable
    {
        margin-bottom : 50px;
    }
    .Dialog
    {
        @include BG-SVG(lamp);
        width               : 100%;
        margin-top          : 50px;
        padding-top         : 176px;
        background-repeat   : no-repeat;
        background-position : center top;
        background-size     : 99px 176px;

        @include Adaptive-Phone-Only()
        {
            margin-top     : 60px;
            padding-bottom : 80px;
        }
        .Button-1
        {
            margin-top : 15px;
        }
    }
    @include Adaptive-Tablet
    {
        .Before-Component
        {
            margin-top : 32px;
        }
        .Footer-Inner
        {
            margin-top : 80px;
        }
    }
    @include Adaptive-Desktop-1k
    {
        .Before-Component
        {
            margin-top : 0px;
        }
    }
}



.Node-A
{
    @extend %Frame-Pushed-Right;
    &:last-child
    {
        padding-top : 0;
    }
    h1
    {
        margin-bottom  : 18px;
        letter-spacing : 2px;
        font-size      : 30px;
        text-transform : uppercase;
        @include Adaptive-Phone-Only
        {
            font-size : 22px;
        }
        @include Adaptive-Desktop-1k
        {
            margin-bottom : 22px;
        }

    }

    p
    {
        @extend %Paragraph-Std;
    }
    .P1
    {
        font-size : 20px;
        padding   : 0;
    }
    .P2
    {
        padding-bottom : 0;
    }
    .P3
    {

        margin-top : 8px;

        a
        {
            @extend %Link-Brd;
        }
    }

}



.Agency-Description
{
    @extend %Block-Mobile-Side-Padding;
    padding-bottom : 40px;

    @include Adaptive-Tablet-Only
    {
        padding-top : 50px;
    }

    img.Img-2010
    {
        display   : block;
        max-width : 100%;
        width     : auto;
        margin    : 25px auto 8px;
    }
    .Foundation-Year
    {
        display        : block;
        width          : 100%;
        padding-bottom : 40px;
        font-size      : 13px;
        text-align     : center;
        @include Adaptive-Desktop-1k
        {
            padding-bottom : 32px;
        }
    }

    .Government-Companies, .Commercial-Companies
    {
        padding-top : 25px;
        @include Adaptive-Tablet
        {
            padding-top : 15px;
        }
        h3
        {
            letter-spacing : 0;
            font-size      : $Text-Size-Default;
            font-weight    : 700;
        }
        & p
        {
            padding : 0;
        }

    }

}



.Directors-Text
{
    @extend %Grayscale;
    @extend %Block-Mobile-Side-Padding;
    background      : url("/templates/osstro/img/bg-ag-mob.jpg") no-repeat center top;
    background-size : cover;

    min-height      : 540px;
    @include Adaptive-Tablet
    {
        padding : 194px 30px 63px;
    }
}



.Text-General
{
    color       : #fff;
    line-height : 22px;
    .Name
    {
        font-weight : 700;
    }
    @include Adaptive-Tablet
    {
        max-width : 260px;
    }
}



.moduletable .Comments
{
    @extend %Block-Mobile-Side-Padding;
}



.Comments
{
    margin-top : 60px;
    @include Adaptive-Tablet
    {
        margin-top : 40px;
    }

    .Comment
    {
        & + .Comment
        {
            margin-top : 55px;
            @include Adaptive-Tablet
            {
                margin-top : 47px;
            }
        }
        @include Adaptive-Tablet
        {
            padding   : 0;
            max-width : 450px;
        }

    }
    .Comment-Author
    {
        margin-top  : 12px;
        font-size   : $Text-Size-Default;
        font-weight : 700;
    }

    .Comment-Position
    {
        padding-bottom : 0;

    }
    .Comment-Content
    {
        margin-top : 5px;
    }
    .Comment-Content,
    .Comment-Position
    {
        @include Adaptive-Tablet
        {
            padding-right : 90px;
        }
        @include Adaptive-Desktop-1k
        {
            padding-right : 110px;
        }
        & p
        {
            @extend %Paragraph-Std;
            display  : inline;
            position : relative;
            &:before
            {
                @include BG-SVG(quote-l);
                content             : "";
                position            : absolute;
                top                 : -2px;
                left                : -1px;
                width               : 30px;
                height              : 30px;
                background-repeat   : no-repeat;
                background-position : center center;
                background-size     : contain;
                vertical-align      : text-bottom;
                margin-left         : -30px;
            }
            &:after
            {
                @include BG-SVG(quote-r);
                content             : "";
                position            : absolute;
                right               : -30px;
                bottom              : -3px;
                width               : 30px;
                height              : 30px;
                background-repeat   : no-repeat;
                background-position : center center;
                background-size     : cover;
                vertical-align      : text-top;
            }
        }

    }

}



.P-free
{
    @extend %Block-Mobile-Side-Padding;
    margin-top : 8px;
}



.Comment
{
    @include Adaptive-Tablet
    {
        padding : 0 30px 50px;
    }
}



.Quotes
{
    position : relative;
    span
    {
        line-height : 24px;
    }

}



.Arr-Left
{

    display         : inline-block;
    position        : absolute;
    left            : -31px;
    width           : 31px;
    height          : 35px;
    background      : url("/templates/osstro/img/ico-ag-Arr-Left.png") no-repeat center;
    background-size : cover;

}



.Arr-Right
{
    display        : inline;
    width          : 31px;
    height         : 35px;
    margin-top     : -6px;
    vertical-align : text-top;

}



.Dialog
{
    padding : 60px 0 0;
}



.Lamp-Img
{
    display        : block;
    margin         : 0 auto;
    padding-bottom : 35px;

}



.Comment-Image
{
    @extend %Grayscale;
    float : none;
    @include Adaptive-Tablet
    {
        margin-right : -10px;
    }
    @include Adaptive-Desktop-1k
    {
        margin-right : 0;
    }

}



.Comment-Image > img
{
    max-height    : 100px;
    display       : block;
    margin        : 0 auto;
    border-radius : 100%;
    width         : auto !important;
}



.Button-1
{
    @include BG-SVG(start-dialog);
    transition          : color .2s;
    width               : 278px;
    height              : 53px;
    padding-top         : 20px;
    margin              : 0 auto;
    text-align          : center;
    cursor              : pointer;
    font-size           : 20px;
    text-transform      : uppercase;
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 278px 53px;
}



.Button-1:hover
{
    color               : $Color-Red;
    @include BG-SVG(start-dialog-h);
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 278px 53px;
    transition          : none;

}



.Page-Agency
{

}



@include Adaptive-Tablet
{
    .Node-A
    {

        .Agency-Description
        {

            .Government-Companies, .Commercial-Companies
            {
                display        : inline-block;
                width          : 49%;
                vertical-align : top;
            }
        }

        .Img-2
        {
            float : right;
        }

        .Quotes
        {
            max-width : 85%;
        }

    }
    .Comment-Image
    {
        float : right;

    }
    .Comments.Node-A
    {
        padding-bottom : 40px;

    }
}



.Node-B
{
    overflow : hidden;
    width    : 100%;

    @include Adaptive-Phone-Only
    {
        margin-top : 15px;
    }
    @include Adaptive-Desktop-1k
    {
        padding-top : 0px;
    }

    @include Adaptive-Desktop
    {
        padding-top : 40px;
    }
    @at-root .Directors-Text
    {
        @include Adaptive-Phone-Only
        {
            position : relative;
        }



        @include Adaptive-Tablet
        {
            min-height  : 540px;
            padding-top : 30px;
            text-align  : right;
        }



        @include Adaptive-Desktop
        {
            min-height  : 460px;
            padding-top : 30px;
            text-align  : right;
        }



        background : url("/templates/osstro/img/bg-ag-agency.jpg") no-repeat center top / cover;
        .Text-General
        {
            display : inline-block;
            @include Adaptive-Phone-Only
            {
                left     : 30px;
                right    : 30px;
                position : absolute;
                bottom   : 50px;
            }
            @include Adaptive-Tablet
            {
                max-width     : 268px;
                padding-right : 35px;
                text-align    : left;
            }
            .Name
            {
                margin-top : 35px;
            }
        }

    }
}
