.Page-Blog
{
    .Before-Component
    {
        .Tab
        {
            @extend %Letters-Tab;
        }
    }
}



.Post-Title
{
    @extend %Heading-Big;
    letter-spacing : 3px;
    margin-bottom  : 40px;
    @include Adaptive-Phone-Only
    {
        margin-bottom : 30px;
    }
    @include Adaptive-Tablet-Only
    {
        padding-top : 50px;
    }
}



.Blog-Post-Text
{
    @extend %Post-Styles;
}



.Blog
{
    @extend %Clearfix;
    @extend %Frame-Pushed-Right;
    @extend %Block-Mobile-Side-Padding;
}



.Page-Blog .Component
{
    @extend %Clearfix;
}



.Blog
{
    position : relative;
    z-index  : 10;

}



.Blog-Post
{

    @extend %Clearfix;
    .Blog-Post-Image
    {
        @extend %Grayscale;
        margin-bottom : 30px;

        img
        {
            display : block;
            width   : 100%;
        }
    }

    .Blog-Post-Text h5
    {
        font-size     : 13px;
        line-height   : 18px;
        margin-bottom : 20px;
    }

    .Blog-Post-Image + a
    {
        line-height : 30px;
    }
    & > a
    {
        display : inline-block;
        h3.Blog-Post-Title span
        {
            @extend %Link-Brd;
            background-position : 0 24px;
        }
    }
    & > a > h3.Blog-Post-Title
    {
        display : inline-block;
    }
    & > a,
    h2.Blog-Post-Title
    {
        @extend %Heading-Medium;
        margin-bottom   : 10px;
        text-decoration : none;
    }
    h2.Blog-Post-Title
    {
        display : block;
    }
    & > a
    {
        color : #000;
    }
    @include Adaptive-Phone-Only
    {
        header
        {
            margin-top : 60px;
            padding    : 0 30px;
        }
        h2.Blog-Post-Title
        {
        }
        .Blog-Post-Date
        {
            font-size : 13px;
        }
    }
    @include Adaptive-Tablet
    {
        h2.Blog-Post-Title
        {
            color : #fff;
        }
    }
    & > *
    {
        line-height : 22px;
    }

    p + p
    {
        margin-top : 10px;
    }
    .Blog-Post-Meta
    {
        margin-top  : 20px;
        line-height : 18px;
        font-size   : 13px;

        .Blog-Post-Tags,
        .Blog-Post-Date
        {
            padding-left : 10px;
        }
        .Blog-Post-Author,
        .Blog-Post-Tags
        {
            padding-right : 20px;
            background    : url(./../img/ico-d-post-meta.png) right center no-repeat;
        }
    }
}



.Blog-Post + .Blog-Post
{
    margin-top : 50px;
}



.Page-Blog
{
    main
    {
        position : relative;
    }
}



.Page-Blog
{
    .Blog-Post-Text,
    .Blog-Post-Introtext
    {
        @extend %Post-Styles;
    }

    &.Page-Level-2
    {
        main
        {
            position : relative;
        }
        .Component
        {
            @extend %Clearfix;
        }
        .Blog-Post-Text,
        .Blog-Post-Meta,
        .Blog-Post-Social
        {
            @extend %Block-Mobile-Side-Padding;
        }
        .Blog-Post-Image
        {
            @include Adaptive-Tablet-Only
            {
                header
                {
                    margin-top    : 60px;
                    margin-bottom : 20px;
                    float         : right;
                    width         : 600px;
                }
                h2
                {
                    margin        : 0;
                    margin-bottom : 10px;
                    font-size     : 30px;
                    line-height   : 36px;
                    color         : #000;
                }
                .Blog-Post-Date
                {
                    font-size : 13px;
                }
            }
            @include Adaptive-Desktop-1k
            {
                position : relative;
                header
                {
                    position : absolute;
                    right    : $Content-Padding;
                    bottom   : 45px;
                    width    : 600px - 40px;
                    h2
                    {
                        margin-bottom : 14px;
                        font-size     : 30px;
                        line-height   : 36px;
                    }
                    .Blog-Post-Date
                    {
                        font-size : 13px;
                        color     : #fff;
                    }
                }
            }
            @include Adaptive-Desktop
            {
                header
                {
                    bottom : 60px;
                }
            }

            > div
            {
                background : black;
            }
            img
            {
                opacity : 0.8;
            }
        }

        .Blog-Same-Posts,
        .Blog-Post-Text,
        .Blog-Post-Meta,
        .Blog-Post-Social
        {
            @include Adaptive-Tablet
            {
                float : right;
                width : 600px;
            }

        }
        .Blog-Post-Letters
        {
            left     : 0;
            right    : 0;
            position : absolute;
            .Letters
            {
                margin : 0 auto;
                color  : #fff;

                @include Adaptive-Desktop-1k()
                {
                    padding-top : 40px;
                    p + p
                    {
                        margin-top : 19px;
                    }
                }
                @include Adaptive-Desktop()
                {
                    p + p
                    {
                        margin-top : 28px;
                    }
                }

                &.Desktop
                {
                    width : 685px;
                }
            }

        }
        .After-Component
        {
            @extend %Clearfix;
            margin-top : 50px;
            position   : relative;
            .Module
            {
                @include Adaptive-Tablet()
                {
                    position : absolute;
                }
            }
            .Blog-Same-Posts
            {
                @include Adaptive-Phone-Only()
                {
                    margin : 40px 30px;
                }
                margin-top    : 150px;
                margin-bottom : 50px;

            }
        }

    }
}



.Blog-Same-Posts
{
    .Blog-Same-Post
    {
        display  : block;
        position : relative;
        h5
        {
            font-size   : 13px;
            line-height : 18px;
        }
        header
        {
            width    : 300px;
            position : absolute;
            z-index  : 100;
            bottom   : 50px;
            @include Adaptive-Phone-Only
            {
                width  : 280px;
                top    : 30px;
                bottom : 0;
                left   : 20px;
                right  : 20px;
            }
            @include Adaptive-Tablet
            {
                left : 250px;
            }
            .Blog-Post-Title
            {
                @include Adaptive-Phone-Only
                {
                    font-size   : 16px;
                    line-height : 20px;
                }
                @extend %Heading-Medium;
                color : #fff;
            }
            .Blog-Post-Date
            {
                margin-top : 2px;
                font-size  : 13px;
                color      : #fff;
            }

        }
        .Blog-Same-Post-Image
        {
            background : black;
            @extend %Grayscale;
            filter     : brightness(60%);

            img
            {
                @extend %Grayscale;
                display : block;
                width   : 100%;
                opacity : 0.8;
            }
        }

        & + .Blog-Same-Post
        {
            margin-top : 40px;
        }
    }
}



.Blog-Post-Letters
{

}



.Page-Blog.Page-Level-2 .After-Component
{
    .Module
    {
        @include Adaptive-Desktop-1k
        {
            width  : 800px;
            margin : 0 auto;
        }
        @include Adaptive-Desktop
        {
            padding-left : 130px;

        }
        left  : 0;
        right : 0;
    }
}



.Blog-Post-Social,
.Project-Social
{
    margin-top : 55px;
    @include Adaptive-Phone-Only
    {
        padding-bottom : 40px;
    }
    .Share-Links
    {
        @extend %Multicolumn-Inline-Centrate;
        @include BG_SVG(social);
        float               : left;
        display             : inline-block;
        height              : 44px;
        line-height         : 44px;
        vertical-align      : middle;
        width               : 286px;
        background-size     : contain;
        background-repeat   : no-repeat;
        background-position : center center;

        @include Adaptive-Phone-Only()
        {
            display : block;
            float   : none;
            margin  : 0 auto;
        }

        .like-button
        {
            cursor : pointer;
        }
        & > div
        {
            width      : 33%;
            text-align : center;
            float      : left;

            .like-counter
            {
                position     : relative;
                display      : inline-block;
                top          : 1px;
                left         : 0;
                font-size    : 14px;
                color        : #91a4ab;

                padding-left : 3px;

            }

            .like-button
            {
                line-height    : 44px;
                vertical-align : middle;
                display        : inline-block;
                text-align     : center;
                float          : none !important;
                cursor         : pointer;
            }

            &.Share-Facebook .like-button,
            &.Share-Twitter .like-button,
            &.Share-Vk .like-button
            {

                background-position : center center;
                background-repeat   : no-repeat;
                @include Adaptive-2x
                {
                    background-size : 20px auto;
                }
            }

            &.Share-Facebook .like-button
            {
                width    : 11px;
                height   : 20px;
                @include Bg-Img(facebook, $Prefix : ico);
                position : relative;
                top      : -3px;
            }
            &.Share-Facebook .like-counter
            {
                left : 5px;

            }

            &.Share-Twitter .like-button
            {
                width    : 28px;
                height   : 19px;
                @include Bg-Img(twitter, $Prefix : ico);
                position : relative;
                left     : -2px;
            }
            &.Share-Vk .like-button
            {
                width    : 25px;
                height   : 14px;
                @include Bg-Img(vk, $Prefix : ico);
                top      : -4px;
                left     : -6px;
                position : relative;
            }

        }
    }
    .fb_iframe_widget
    {

        @include BG-SVG(facebook);

        width               : 116px;
        height              : 44px;
        padding             : 10px 4px;
        text-align          : center;
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : contain;

        @include Adaptive-Phone-Only()
        {
            display : block;
            float   : none;
            margin  : 5px auto;
        }

        @include Adaptive-Tablet
        {
            float       : left;
            margin-left : 20px;
        }
    }
    .Share-Hide-This
    {
        display : none;
    }
}