.Project-Item
{
    @extend %Clearfix;

    &.Project-Item.No-Gallery
    {
        margin-top : 60px;
    }
}



.Gallery
{
    position      : relative;
    background    : black;
    @include Adaptive-Phone-Only
    {
        margin-bottom : 60px;
    }
    margin-bottom : 75px;

    .Gallery-Letters
    {
        position : absolute;
        z-index  : 2;
        width    : 100%;
        color    : #fff;
        .Tab
        {
            width : 430px;
        }
    }
    .fotorama
    {
        opacity : 0.8;
        .fotorama__nav-wrap
        {
            position : absolute;
            bottom   : 10px;
            @include Adaptive-Tablet
            {
                bottom : 20px;
            }
        }
        .fotorama__nav__frame.fotorama__active .fotorama__dot
        {
            border-width : 4px;
        }
        .fotorama__dot
        {
            width        : 8px;
            height       : 8px;
            border-color : #fff;
        }
        .fotorama__html
        {
            @extend %Grayscale;
        }
        @include Adaptive-Tablet
        {
            .fotorama__arr--prev,
            .fotorama__arr--next
            {
                pointer-events : auto;
                cursor         : pointer;
                opacity        : 1;
            }
            .fotorama__arr--prev
            {
                background : url(./../img/bg-d-slider-arrow-left.png) center center no-repeat;

                &:hover
                {
                    background-image : url(./../img/bg-d-slider-arrow-left-h.png);
                }
            }
            .fotorama__arr--next
            {
                background : url(./../img/bg-d-slider-arrow-right.png) center center no-repeat;
                &:hover
                {
                    background-image : url(./../img/bg-d-slider-arrow-right-h.png);
                }
            }
        }

    }
}



.Title-Mobile
{
    margin-bottom  : 10px;
    padding        : 0 30px;
    font-size      : 22px;
    line-height    : 26px;
    text-transform : uppercase;
    @include Adaptive-Tablet
    {
        display : none;
    }
}



.Project-Left-Row
{
    line-height : 16px;
    font-size   : 13px;

    @include Adaptive-Phone-Only
    {
        padding : 0 30px 20px;
    }
    @include Adaptive-Tablet
    {
        float         : left;
        width         : 230px;
        padding-right : 40px;
    }

    @include Adaptive-Desktop
    {
        width         : 360px;
        padding-right : 130px;
    }
    .Services
    {
        margin-top : 35px;
        li
        {
            line-height : 16px;
        }
        li + li
        {
            margin-top : 10px;
        }
    }
    .Year
    {
        background    : url(./../img/bg-d-organization-circle.png) right center no-repeat;
        padding-right : 20px;
    }
    .Organization
    {
        @include Adaptive-Tablet-Only
        {
            display : block;
        }
        @include Adaptive-Desktop
        {
            padding-left : 10px;
        }
    }
}



.Project-Right-Row
{
    .Description
    {
        @extend %Post-Styles;

        strong
        {
            font-weight : 400;
            margin      : 0;
            display     : inline-block;
        }
        strong + em
        {
            display : inline-block;
        }
        em
        {
            display     : inline-block;
            line-height : 1.2;
        }
        li
        {
            margin-left : 0;
        }
        h2
        {
            margin-top : 45px;
        }
        h3
        {
            margin-top : 45px;
        }
    }
    @include Adaptive-Phone-Only
    {
        padding : 0 30px;
    }
    @include Adaptive-Tablet
    {
        float : right;
        width : $Tablet-Content-E-Width - 230px;
    }
    @include Adaptive-Desktop-1k
    {
        width : 660px;
    }
    h2.Title
    {
        @include Adaptive-Phone-Only
        {
            display : none;
        }
        margin-bottom  : 45px;
        font-size      : 30px;
        line-height    : 38px;
        letter-spacing : 3px;
        text-transform : uppercase;
    }
    h3
    {
        margin         : 50px 0 10px;
        font-size      : 20px;
        text-transform : uppercase;
    }
    p + p
    {
        margin-top : 20px;
    }

}



.Page-Blog .itemSocialSharing
{

    margin-top : 60px;
    @include Adaptive-Tablet
    {
        float : right;
        width : 430px;
    }
    @include Adaptive-Desktop
    {
        width : $Content-E-Width - 360px;
    }

    .itemFacebookButton
    {
        width      : 200px;
        padding    : 10px;
        background : url(./../img/bg-d-facebook.png) left center no-repeat;
    }
    #u_0_3
    {
        max-width : 60px;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Grayscale
{
    filter     : grayscale(100%);
    transition : all .4s;
    &:hover
    {
        filter : grayscale(0%);
    }
}



.Page-Projects.Page-Level-2 .Component .Module
{
    margin   : 90px 0 30px;
    position : relative;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////