.Page-Contacts
{
    position   : relative;
    min-height : 100vh;
    main
    {
        width : 100%;
    }

    header
    {
        margin : 0 auto;

        @include Adaptive-Phone-Only
        {
            .Company-Logo
            {
                margin-left : 25px;
            }
        }

        @include Adaptive-Tablet
        {
            max-width : none;
            width     : 100%;
            padding   : 0 30px 0 25px;
        }
    }

    .Cont
    {
        position : relative;
    }
    .Header
    {
        position    : absolute;
        top         : 0;
        left        : 0;
        z-index     : 10;
        height      : 170px;
        padding     : 45px 40px 25px 25px;
        background  : white;
        line-height : 28px;

        @include Adaptive-Phone-Only
        {
            width   : 100%;
            height  : auto;
            padding : 10px 40px 25px 25px;
        }

        h2
        {
            margin-left    : -1px;
            text-transform : uppercase;
            font-size      : 30px;
            line-height    : normal;
            letter-spacing : 2px;
        }

        .AC
        {
            display : inline-block;
        }
        a
        {
            @extend %Link-Brd;
        }
    }

    .Map
    {
        display    : block !important;
        width      : 100%;
        height     : calc(100vh - 75px);
        margin-top : 0;
    }

    .Contacts-Info
    {
        display : none;
    }
    .Made-By
    {
        position : absolute;
        right    : 60px;
        bottom   : 20px;

        @include Adaptive-Phone-Only
        {
            left          : 35px;
            right         : auto;
            padding       : 0;
            margin-bottom : 0;
        }
    }

    .Footer-Inner, main
    {
        position : relative;
        padding  : 0;
    }
    .Contacts-Inner
    {
        position : relative;
        width    : 100%;
    }

    footer.Footer-Inner
    {
        position : absolute;
        bottom   : 10px;
        right    : 0;
        width    : 240px;
        z-index  : 10;
    }

}


