//----------------------------------------------------------------------------------------------------------------------
// GR page
//----------------------------------------------------------------------------------------------------------------------

.GR
{
    @extend %Frame-Pushed-Right;

    .GR-Info,
    .GR-List
    {
        @extend %Block-Mobile-Side-Padding;
    }

    @include Adaptive-Desktop
    {
    }

    .Mobile.Tab
    {
        @include Adaptive-Desktop
        {
            display : none;
        }
    }
    .Desktop
    {
        @include Adaptive-Range(1px, 1199px)
        {
            display : none;
        }
    }
    .GR-Info
    {
        position      : relative;
        margin-bottom : 20px;
        img
        {
            position : absolute;
            left     : -25px;
            top      : -45px;
            @include Adaptive-Phone-Only{
                left: 5px;
            }
        }
        h2
        {
            @extend %Heading-Scalable-22-30;
            margin : 0 25px 7px 0;
            &.Desktop
            {
                display : block;
            }
            &.Mobile, &.Tab
            {
                display : none;
            }

            @include Adaptive-Tablet
            {
                margin-bottom : 15px;
                font-size     : 22px;
            }
            @include Adaptive-Tablet-Only
            {
                margin-top : 50px;
            }

            @include Adaptive-Desktop-1k
            {
                margin-bottom : 15px;

            }
        }

        p
        {
            font-size   : 16px;
            line-height : 22px;
        }
    }
    .GR-Lists
    {
        font-size : 0;
        .GR-List
        {
            vertical-align : top;
            display        : inline-block;
            @include Adaptive-Tablet
            {
                width         : 50%;
                padding-right : 5%;
            }
            @include Adaptive-Desktop
            {
                width         : 45%;
                padding-right : 10%;
            }

            li
            {
                font-size   : 16px;
                line-height : 20px;

                & + li
                {
                    margin-top : 10px;
                }
            }
        }
        @include Adaptive-Phone-Only
        {
            .GR-List + .GR-List
            {
                margin-top : 10px;
            }
        }
    }
    .moduletable
    {
        & > h3
        {
            @extend %Block-Mobile-Side-Padding;
            @extend %Heading-Scalable-16-22;
            margin : 60px 0 12px;

        }
    }
}