.Page-Home
{
    .Component
    {
        @extend %Clearfix;
    }

    @include Adaptive-Phone-Only
    {
        .Before-Component
        {
            margin-top : 10px;
        }
        .Component
        {
            margin-top : 22px;
        }

        .After-Component
        {
            margin-top : 37px;
            .Mobile:last-child
            {
                margin-top : 20px;
            }
        }
        .Contacts
        {
            margin-bottom : 88px;
        }
    }
    @include Adaptive-Tablet-Only
    {
        .Before-Component
        {
            margin-top : 28px;
        }
        .Component
        {
            margin-top : 33px;
        }
        .After-Component
        {
            margin-top : 40px;
        }

    }
    @include Adaptive-Desktop-1k
    {
        .Before-Component
        {
            margin-top : 20px;
        }
        .Component
        {
            margin-top : 34px;
        }
        .Contacts
        {
            margin-bottom : 35px;
        }
    }

}



.Company-Logo
{
    display        : inline-block;
    vertical-align : middle;
}



.Home-Text
{
    font-size   : 16px;
    line-height : 22px;

    @include Adaptive-Phone-Only
    {
        padding : 20px 30px 50px;
    }

    @include Adaptive-Tablet
    {
        padding : 27px 0 0;
        float   : right;
        width   : 300px;
    }

    @include Adaptive-Desktop-1k
    {
        width        : 420px;
        margin-right : -110px;
    }

    p + p
    {
        margin-top : 8px;
    }
}



//----------------------------------------------------------------------------------------------------------------------
// Info Services
//----------------------------------------------------------------------------------------------------------------------

.Info-Services
{
    font-size : 0;
    & + .Letters
    {
        margin-top : -30px;
    }
}



.Info-Service
{
    position       : relative;
    display        : inline-block;
    vertical-align : top;
    padding        : 50px 30px;
    font-size      : 16px;

    @include Adaptive-Tablet
    {
        width      : 200px;
        margin-top : 10px;
        padding    : 50px 0 45px;
    }
    @include Adaptive-Desktop-1k
    {
        width      : 30%;
        margin-top : 20px;
        padding    : 50px 15px 45px 0;
    }
    &:before
    {
        position            : absolute;
        content             : '';
        width               : 61px;
        height              : 83px;
        background-position : left top;
        background-repeat   : no-repeat;
        background-size     : 59px 72px;

    }
    &:nth-child(1):before
    {
        @include BG-SVG(flag);
    }
    &:nth-child(2):before
    {
        @include BG-SVG(tie);
    }
    &:nth-child(3):before
    {
        @include BG-SVG(mic);
    }
    @include Adaptive-Phone-Only
    {
        &:nth-child(1):before
        {
            left : 7px;
            top  : 3px;
        }
        &:nth-child(2):before
        {
            left : -14px;
            top  : 11px;

        }
        &:nth-child(3):before
        {
            left : -10px;
            top  : 0;
        }
    }

    @include Adaptive-Tablet
    {
        &:nth-child(1):before
        {
            left : -25px;
            top  : 3px;
        }
        &:nth-child(2):before
        {
            left : -46px;
            top  : 9px;

        }
        &:nth-child(3):before
        {
            left : -46px;
            top  : -4px;
        }
    }
    @include Adaptive-2x
    {
        &:nth-child(1):before
        {
            @include BG-SVG(flag);
        }
        &:nth-child(2):before
        {
            @include BG-SVG(tie);
        }
        &:nth-child(3):before
        {
            @include BG-SVG(mic);
        }
    }

    & + .Info-Service
    {
        @include Adaptive-Tablet
        {
            margin-left : 30px;
        }
        @include Adaptive-Desktop-1k
        {
            margin-left : 5%;
        }
    }
    h3
    {
        font-weight : 700;
    }
    p
    {
        margin-top  : 10px;
        line-height : 20px;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Contacts
{
    line-height : 30px;

    .Mobile.Letters
    {
        margin-top : 50px;
    }
    .Made-By
    {
        margin-bottom : 50px;
        line-height   : 20px;

        a
        {
            display        : inline-block;
            padding-bottom : 2px;
            background     : url(./../img/bg-m-underline.png) center bottom no-repeat;

            &:hover
            {
                background : url(./../img/bg-m-underline-h.png) center bottom no-repeat;
            }
        }
    }
}



@include Adaptive-Phone-Only
{
    .Map
    {
        display : none;
    }
}



@include Adaptive-Tablet-Only
{

}



@include Adaptive-Desktop-1k
{

}



.clr
{
    clear : both;
}

