//----------------------------------------------------------------------------------------------------------------------
// PR page
//----------------------------------------------------------------------------------------------------------------------
.Page-Pr, .Page-Gr
{
    .Before-Component
    {
        margin-top : 0;
        z-index    : 1;

        @include Adaptive-Phone-Only()
        {
            margin-top : 15px;
        }
        @include Adaptive-Tablet-Only()
        {
            margin-top : 32px;
        }
    }

    .Footer-Inner
    {
        margin-top : 80px;
    }
    .Component
    {
        position : relative;
        z-index  : 10;
    }
}



.PR
{
    @extend %Frame-Pushed-Right;
    @extend %Post-Styles;

    img
    {
        max-width : 100%;
    }
    h2
    {
        @extend %Heading-Scalable-22-30;
        margin : 0 25px 17px 0;

        @include Adaptive-Tablet
        {
            margin-bottom : 15px;
        }
        @include Adaptive-Tablet-Only()
        {
            padding-top : 50px;
        }

    }
    .PR-Info,
    .PR-Lists
    {
        @include Adaptive-Phone-Only
        {
            padding-left  : 30px;
            padding-right : 30px;
        }

    }

    .PR-Info
    {
        p
        {
            @extend %Paragraph-Std;
        }
    }

    .PR-List
    {
        padding-top : 10px;

        @include Adaptive-Tablet
        {
            padding-top : 20px;
        }

        img
        {
            width : auto;
        }

        h3
        {
            margin-bottom : 10px;
            font-size     : 16px;
            font-weight   : 700;
        }
        ul
        {
            @include Adaptive-Phone-Only
            {
                padding-right : 15px;
            }
        }
        li
        {
            margin      : 0;
            font-size   : 16px;
            line-height : 20px;
            & + li
            {
                margin-top : 10px;
            }
        }
    }

    .moduletable > h3
    {
        @extend %Block-Mobile-Side-Padding;
        @extend %Heading-Scalable-16-22;
        margin      : 60px 0 12px;
        font-weight : 400;
    }

    img
    {
        max-width : 100%;
    }

}



.PR-Lists
{
    margin-top : 10px;
    position   : relative;
    padding    : 0;
    @include Adaptive-Tablet
    {
        padding : 30px 30px 60px;
    }

    @include Adaptive-Tablet
    {

        padding : 0;

    }
}



.PR-List
{
    position      : relative;
    padding-right : 30px;
    @include Adaptive-Tablet
    {
        &:first-of-type
        {
            padding-bottom : 40px;
        }
    }

    h3
    {
        margin-top : 0;
    }
}



.PR-List img
{
    position : absolute;
    right    : -30px;
}



@include Adaptive-Tablet
{
    .PR-List img
    {

        left : -30px;
        top  : 20px;
    }
    .PR-List
    {
        display        : inline-block;
        width          : 49%;
        vertical-align : top;
        &:first-of-type
        {
            padding-bottom : 0;
        }
    }
}