.Page-Projects .itemSocialSharing
{
    @include Adaptive-Phone-Only
    {
        padding : 0 30px;
    }
    @include Adaptive-Tablet
    {
        float : right;
        width : $Tablet-Content-E-Width - 230px;
    }
    @include Adaptive-Desktop-1k
    {
        width : 660px;
    }
}