.Team
{
    @extend %Multicolumn-Inline;
    .Team-Header
    {
        @extend %Heading-Big;
        @extend %Block-Mobile-Side-Padding;
        display : block;
        margin-bottom: 30px;
    }
}
.Specialist
{
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    width: 100%;

    @include Adaptive-Phone-Only
    {
        padding: 0 30px 40px;
    }

    @include Adaptive-Tablet-Only
    {
        padding-bottom: 30px;
        width: 50%;
        &:nth-child(odd)
        {
            padding-left: 15px;
        }
        &:nth-child(even)
        {
            padding-right: 15px;
        }
    }
    @include Adaptive-Desktop-Small
    {
        width: 45%;
    }
    @include Adaptive-Desktop-1k
    {
        width: 40%;
        padding-bottom: 60px;
        padding-right: 30px;
    }
    @include Adaptive-Desktop
    {
        width: 33.33%;
    }




    @at-root .Specialist-Image img
    {
        @extend %Grayscale;
        @extend %Img-Blockify;

        margin-bottom: 15px;
    }

    @at-root .Specialist-Title
    {
        @extend %Heading-Medium;
    }

    h4
    {
        margin-top: 5px;
        font-weight :700;
    }
    li + li
    {
        margin-top: 5px;
    }
}