////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  GLOBAL FONT IMPORT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Font
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'Circle';
    src: url('/templates/osstro/fonts/CRC55__W.eot');
    src:
            url('/templates/osstro/fonts/CRC55__W.eot?#iefix') format('embedded-opentype'),
            url('/templates/osstro/fonts/CRC55__W.woff2') format('woff2'),
            url('/templates/osstro/fonts/CRC55__W.woff') format('woff'),
            url('/templates/osstro/fonts/CRC55__W.ttf') format('truetype'),
            url('/templates/osstro/fonts/CRC55__W.svg#CirceWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circle';
    src: url('/templates/osstro/fonts/CRC65__W.eot');
    src:
            url('/templates/osstro/fonts/CRC65__W.eot?#iefix') format('embedded-opentype'),
            url('/templates/osstro/fonts/CRC65__W.woff2') format('woff2'),
            url('/templates/osstro/fonts/CRC65__W.woff') format('woff'),
            url('/templates/osstro/fonts/CRC65__W.ttf') format('truetype'),
            url('/templates/osstro/fonts/CRC65__W.svg#CirceWeb-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

