//----------------------------------------------------------------------------------------------------------------------
// SITE FOOTER
//----------------------------------------------------------------------------------------------------------------------

.Footer-Inner
{
    @extend %Main-Content;
    @extend %Clearfix;

    clear          : both;
    margin-top     : 100px;
    padding-bottom : 50px;

    .Contacts,
    .Contacts-Info
    {
        vertical-align : top;

        .Contacts-Links a
        {
            display : inline-block;
            & + a
            {
                margin-top : 6px;
                @include Adaptive-Tablet
                {
                    margin-top : 10px;
                }
            }
        }

        a
        {
            @extend %Link-Img;
        }
        .Link-Address,
        .Address:nth-child(1)
        {
            padding-left     : 0;
            @extend %Link-Brd;
        }
        .Link-Move,
        .Address:nth-child(2)
        {
            @extend %Link-Brd;
        }
        .Link-Mail,
        .Email
        {
            @extend %Link-Brd;
        }
        .Phone, .Email
        {
            padding-bottom : 3px;
            vertical-align : top;
        }
    }
}



.Made-By
{
    a
    {
        display    : inline-block;
        @extend %Link-Brd;

    }
    .Year
    {
        display    : block;
        margin-top : -10px;
        font-size  : 11px;
    }
}



//----------------------------------------------------------------------------------------------------------------------

@include Adaptive-Phone-Only
{
    .Footer-Inner
    {
        margin-top : 20px;

        .Contacts,
        .Contacts-Info
        {
            padding : 0 30px;

            & > *
            {
                margin-top : 0;
            }

        }
        .Phone
        {
            margin-top  : 20px;
            margin-left : -12px;
        }
        .Email
        {
            margin-top : 10px;
        }
        .Phone, .Email
        {
            display : table;
        }
        .Made-By
        {
            margin-top : 15px;
            padding    : 0 30px;

        }
    }
}



//----------------------------------------------------------------------------------------------------------------------
@include Adaptive-Tablet-Only
{
    .Map
    {
        float      : right;
        width      : 430px;
        height     : 325px;
        margin-top : - 110px;
    }
}



//----------------------------------------------------------------------------------------------------------------------
@include Adaptive-Tablet
{
    .Footer-Inner
    {
        margin-top : 25px;

        .Footer-Top
        {
            @extend %Clearfix;
        }
        .Contacts
        {
            float : left;
            width : 230px;
        }
        .Contacts-Info
        {
            float : left;
            .Contacts-Links
            {
                display : inline-block;
            }
            a
            {
                display : inline-block;
            }
            .Phone, .Email
            {
                margin-left : 20px;
            }
        }
        .Map
        {
            margin : 0;
            float  : right;
        }
        .Made-By
        {
            @extend %Clearfix;
            float         : right;
            margin-bottom : 50px;
        }
    }

    .Page-Home
    {
        .Made-By
        {
            margin-top : 10px;
        }
    }

}



//----------------------------------------------------------------------------------------------------------------------
@include Adaptive-Desktop-1k
{
    .Contacts
    {
        width : 920px - 430px;
    }
    .Map
    {
        float      : right;
        width      : 75%;
        height     : 430px;
        margin-top : - 155px;
    }
    .Footer-Inner
    {
        margin-top : 32px;
        padding    : 0 20px;
    }
}



//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
@include Adaptive-Desktop
{
    .Footer-Inner
    {
        padding : 0;
        .Contacts
        {
            width : 1200px - 960px;
        }
        .Letters
        {
            display : none;
        }
        .Map
        {
            width : 960px;
        }
    }

    .Page-Home .Made-By
    {
        margin-top : 20px;
    }
}



//----------------------------------------------------------------------------------------------------------------------