$Ham-Size : 20px;
$Ham-Thickness : 3px;
$Ham-Padding-Around : 15px;
.Hamburger
{
    display : block;
    float   : right;
    margin  : -19px 15px 0 -10px;
    width   : $Ham-Size;
    height  : $Ham-Size;
    cursor  : pointer;
    padding : 20px 35px 25px 25px;
    span
    {
        display           : block;
        @include BG-SVG(hamburger);
        background-repeat : no-repeat;
        width             : 20px;
        height            : 15px;
    }

    @include Adaptive-Tablet
    {
        display : none;
    }

    //span,
    //span:before,
    //span:after
    //{
    //    content       : '';
    //    position      : absolute;
    //    display       : block;
    //    cursor        : pointer;
    //    border-radius : 35%;
    //    height        : $Ham-Thickness;
    //    width         : $Ham-Size;
    //    background    : #000;
    //}
    //span:before
    //{
    //    top : -6px;
    //}
    //span:after
    //{
    //    bottom : -6px;
    //}
    //span,
    //span:before,
    //span:after
    //{
    //    transition : all .5s ease-in-out;
    //}

}



/*
nav
{
    &.Active span
    {
        background-color : transparent;
    }
    &.Active span:before,
    &.Active span:after
    {
        top : 0;
    }
    &.Active span:before
    {
        transform : rotate(360deg + 45deg);
    }
    &.Active span:after
    {
        transform : rotate(360deg + 135deg);
    }
}
*/