//----------------------------------------------------------------------------------------------------------------------
// Letters Module
//----------------------------------------------------------------------------------------------------------------------

$Letter-Width-Mobile : 10px;
$Letter-Width-Tablet : 1%;
$Letter-Width-Desktop : 1%;
$Letter-Count-Mobile : 8;
$Letter-Count-Tablet : 10;
$Letter-Count-Desktop : 10;

$Letter-Margin-Mobile : ((260px - ($Letter-Count-Mobile * $Letter-Width-Mobile))/ ($Letter-Count-Mobile - 1));
$Letter-Margin-Tablet : ((100% - ($Letter-Count-Tablet * $Letter-Width-Tablet))/ ($Letter-Count-Tablet - 1));
$Letter-Margin-Desktop : ((100% - ($Letter-Count-Desktop * $Letter-Width-Desktop))/ ($Letter-Count-Desktop - 1));

.Letters
{
    $Letters-Count-Current : (2, 5, 6, 7, 8);
    $Letters-Variants : length($Letters-Count-Current);

    @for $i from 1 to ($Letters-Variants + 1)
    {
        a.Underline-#{nth($Letters-Count-Current, $i)}
        {
            &:hover:before
            {
                @include BG-SVG(line-#{nth($Letters-Count-Current, $i)}-h);

                @include Adaptive-Phone-Only{
                    @include BG-SVG(m-line-#{nth($Letters-Count-Current, $i)}-h);
                }
            }
        }


        .Underline-#{nth($Letters-Count-Current, $i)}
        {
            &:before
            {
                @include BG-SVG(line-#{nth($Letters-Count-Current, $i)});
                @include Adaptive-Phone-Only{
                    @include BG-SVG(m-line-#{nth($Letters-Count-Current, $i)});
                }
            }

            @include Adaptive-Phone-Only
            {
                margin-right : $Letter-Margin-Mobile;
                width        : ( $Letter-Width-Mobile * nth($Letters-Count-Current, $i)) + ($Letter-Margin-Mobile * ( nth($Letters-Count-Current, $i)) - 1);
            }
            @include Adaptive-Tablet-Only
            {
                margin-right : $Letter-Margin-Tablet;
                width        : ( $Letter-Width-Tablet * nth($Letters-Count-Current, $i)) + ($Letter-Margin-Tablet * ( nth($Letters-Count-Current, $i)) - 1);
            }
            @include Adaptive-Desktop-1k
            {
                margin-right : $Letter-Margin-Desktop;
                width        : ( $Letter-Width-Desktop * nth($Letters-Count-Current, $i)) + ($Letter-Margin-Desktop * ( nth($Letters-Count-Current, $i)) - 1);
            }
        }
    }
    a:hover
    {
        cursor : pointer;
        color  : $Color-Red;
    }

    p [class^=Underline-]
    {
        position        : relative;
        background-size : contain;

        &:before
        {

            content             : ' ';
            position            : absolute;
            width               : 120%;
            left                : -10%;
            height              : 80px;
            top                 : -30px;
            background-size     : contain;
            background-repeat   : no-repeat;
            background-position : center center;
        }

        &:last-child
        {
            margin-right : 0;
        }
    }

    p [class=Underline-6]:before
    {
        @include Adaptive-Phone-Only
        {
            width : 123%;
            top   : -32px;
            left  : -11%;
        }
    }

    a.Underline-2:before
    {
        background-position-y : 44px;
        top: -26px;
    }
}



.Letters
{
    display : none;
    cursor  : default;

    small
    {
        display    : inline-block;
        text-align : center;

    }

    a
    {
        color : #000;
    }

    @include Adaptive-Phone-Only
    {
        &.Mobile
        {
            width     : 320px;
            display   : block;
            font-size : 14px;
            p
            {
                padding : 0 30px;
                small
                {
                    margin-right : $Letter-Margin-Mobile;
                    width        : $Letter-Width-Mobile;
                    &:last-child
                    {
                        text-align   : right;
                        margin-right : 0;
                    }
                }

            }
            & > p + p
            {
                margin-top : 28px;
            }
        }
    }
    @include Adaptive-Tablet
    {
        &.Tab
        {
            font-size : $Text-Size-Default;

            small
            {
                margin-right : $Letter-Margin-Tablet;
                width        : $Letter-Width-Tablet;
                &:last-child
                {
                    text-align   : right;
                    margin-right : 0;
                }
            }
            & > p + p,
            & > .Home-Text + p
            {
                margin-top : 28px;
            }
        }
    }
    @include Adaptive-Tablet-Only
    {
        &.Tab
        {
            display : block;
            width   : 660px;
        }
    }

    @include Adaptive-Desktop-1k
    {
        &.Desktop
        {
            display : block;
            width   : 685px;
            small
            {
                margin-right : $Letter-Margin-Desktop;
                width        : $Letter-Width-Desktop;
                &:last-child
                {
                    text-align   : right;
                    margin-right : 0;
                }
            }
            & > p + p,
            & > .Home-Text + p
            {
                margin-top : 28px;
            }
        }
    }
}

