////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$Phone-Modal-Height : 433px;
$Tablet-Modal-Height : 403px;
$Tablet-Modal-Width : 516px;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal-Outer
{
    display          : none;
    position         : fixed;
    z-index          : 1000;
    top              : 0;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, .5);
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Modal
{
    position         : absolute;
    left             : 5%;
    width            : 90%;
    display          : inline-block;
    background-color : #fff;
    padding          : 25px 15px;
    top              : 50%;
    margin-top       : -238px;

    @include Adaptive-Tablet
    {
        padding     : 50px 30px;
        left        : 50%;
        width       : 516px;
        margin-top  : -($Tablet-Modal-Height/2);
        margin-left : -($Tablet-Modal-Width/2);
    }

    .Close
    {
        @include Bg-Img(close, $Prefix : ico, $Hover-Enabled : true);
        float               : right;
        width               : 25px;
        height              : 23px;
        margin-top          : -10px;
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;

    }

    h3
    {
        @extend %Heading-Big;
        font-size   : 20px;
        line-height : 26px;
        @include Adaptive-Tablet
        {
            font-size   : 30px;
            line-height : 36px;
        }
    }

    .Form-Row
    {
        label
        {
            width   : 100%;
            display : block;
            @include Adaptive-Tablet
            {
                display : inline-block;
                width   : 100px;
            }
        }
        input, textarea
        {
            margin-top : 10px;
            width      : 100%;
            padding    : 10px;
            border     : 1px solid #ccc;
            @include Adaptive-Tablet
            {
                margin : 0;
                width  : 350px;
            }
        }
        textarea
        {
            vertical-align : top;
            padding-top    : 7px;
        }

        input:focus, textarea:focus
        {
            outline      : none;
            border-color : #fc0;
        }
        &.Form-Row
        {
            margin-top : 30px;
        }
    }

    .Send, .Close-Button
    {
        @extend %Heading-Medium;
        font-family         : 'Circe', sans-serif;
        font-size           : 16px;
        margin-top          : 20px;
        padding             : 20px 34px;
        border              : 0;
        background-color    : transparent;
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;
        background-image    : url(./../img/ico-m-send-button.png);
        cursor              : pointer;
        &:hover
        {
            color            : #f1627f;
            background-image : url(./../img/ico-m-send-button-h.png);
        }
        @include Adaptive-Tablet
        {
            margin-left      : 100px;
            width            : auto;
            font-size        : 20px;
            padding          : 14px 34px;
            background-image : url(./../img/ico-d-send-button.png);
            &:hover
            {
                background-image : url(./../img/ico-d-send-button-h.png);
            }
        }
    }

    .Close-Button
    {
        padding     : 24px 24px;
        margin-left : 0;
    }

    .Message
    {
        padding     : 10px 0 0;
        font-weight : 700;
        &.Error
        {
            color : #bf0000;
        }
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////