nav[role='navigation']
{
    @extend %Clearfix;

    padding    : 22px 0 10px;
    font-size  : 0;
    text-align : center;
    transition : padding .2s;

    @include Adaptive-Phone-Only()
    {
        padding-bottom : 6px;
    }
    &.Active
    {
        @include Adaptive-Phone-Only
        {
            padding : 0 0 25px;
        }
        @include Adaptive-Tablet
        {
            .Mobile-Menu
            {
                display : none;
            }
        }
    }
}



.Company-Logo
{
    @include BG-SVG(logo);
    vertical-align      : middle;
    display             : inline-block;
    background-size     : 100%;
    background-repeat   : no-repeat;
    background-position : center center;
    transition          : none;

    &:hover
    {
        @include BG-SVG(logo-h);
    }
    @include Adaptive-Desktop-1k
    {
        float : left;

    }
}



.Mobile-Menu > .Menu
{
    display : none;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include Adaptive-Phone-Only
{
    nav > .Menu
    {
        display : none;
    }
    .Menu
    {
        text-align : center;
    }

    .Company-Logo
    {
        float       : left;
        margin-left : 30px;
        padding-top : 2px;
        width       : 156px;
        height      : 15px;
    }

    nav
    {
        vertical-align : middle;
        @include Adaptive-Phone-Only
        {
            min-height : 60px;
        }
        ul
        {

            display : block;
            width   : 100%;
            clear   : both;
            li
            {
                & + li
                {
                    border-top : 1px #ccc solid;
                }
                &:last-child
                {
                    border-bottom : 1px #ccc solid;
                    margin-bottom : 20px;
                }
                a
                {

                    display         : block;
                    width           : 100%;
                    padding         : 20px;
                    font-size       : $Text-Size-xs;
                    background-size : contain;
                    letter-spacing  : 1px;
                }
            }
        }
    }
}



@include Adaptive-Tablet-Only
{
    .Company-Logo
    {
        float : left;
    }

    .Menu
    {
        margin-left : 10px;

        li
        {
            margin-top      : -2px;
            background-size : 100%;
            display         : inline-block;
            width           : auto;

            a
            {
                padding         : 8px 11px 8px;
                font-size       : 11px;
                letter-spacing  : 1px;
                background-size : contain;
            }
        }
        li + li
        {
            margin-left : 0px;
        }
    }
}



@include Adaptive-Tablet
{
    .Company-Logo
    {
        width  : 156px;
        height : 15px;
    }
    .Menu
    {
        li
        {
            display : inline-block;
        }
    }
}



.Menu
{
    font-size      : 0;
    display        : inline-block;

    vertical-align : middle;

    @for $i from 1 through 7
    {
        @include Adaptive-Tablet
        {
            li:nth-child(#{$i}).Active a
            {
                @include BG-SVG(menu-#{$i});
            }
        }

    }

    a
    {

        color               : #000;
        text-transform      : uppercase;
        text-decoration     : none;

        background-position : center center;
        background-repeat   : no-repeat;
        transition          : color .2s;

        &:hover
        {
            transition : none;
            color      : #f1627f;
        }

        @include Adaptive-Desktop-1k
        {
            padding         : 11px 24px;
            font-size       : 12px;
            letter-spacing  : 2px;
            background-size : contain;
        }
        @include Adaptive-Desktop
        {
            padding   : 11px 25px;
            font-size : 12px;
        }

    }
    li.Active a
    {
        color : #5688ed;

        &:hover
        {
            color : #5688ed;
        }
    }
    li.Active-But-Link a
    {
        color : #000;
    }

    @include Adaptive-Tablet-2x
    {
        @for $i from 1 through 7
        {
            li:nth-child(#{$i}).Active a
            {
                @include BG-SVG(menu-#{$i}-h);
            }
        }
    }
    @include Adaptive-Tablet
    {
        float        : right;
        margin-right : -20px;
    }

    @include Adaptive-Desktop-1k
    {
        margin-right : -30px;
        li + li
        {
            margin-left : 5px;
        }
    }
    @include Adaptive-Desktop
    {

        li + li
        {
            margin-left : 10px;
        }
    }
}



.Page-Blog.Page-Level-2 .Menu, .Page-Projects.Page-Level-2 .Menu
{
    float        : right;
    margin-right : -13px;
}