.Pagination
{
    @extend %Clearfix;
    margin-top : 50px;
    text-align : center;

    ul
    {
        @extend %Clearfix;
        margin-top : 12px;
        padding    : 20px 0;
        font-size  : 0;
    }
    li
    {
        display : inline-block;
    }
    .pagenav
    {
        font-size : 20px;
    }
    span.pagenav
    {
        @include BG-SVG(pagination);
        display             : inline-block;
        height              : 43px;
        width               : 39px;
        padding             : 11px;
        background-size     : contain;
        background-position : center center;
        background-repeat   : no-repeat;
        color               : #598aed;
    }
    a.pagenav
    {
        padding         : 20px 10px;
        color           : #000;
        text-decoration : none;
        &:hover
        {
            color : #f1627f;
        }
    }
    .pagination-start,
    .pagination-end,
    .pagination-prev,
    .pagination-next
    {
        display : none;
    }

    .Next-Page
    {

        @include Bg-Img(button-more, true);
        display           : inline-block;
        height            : 54px;
        padding           : 0 10px;
        font-size         : 16px;
        line-height       : 42px;
        letter-spacing    : 1px;
        text-align        : center;
        text-transform    : uppercase;
        text-decoration   : none;
        color             : #000;
        background-repeat : no-repeat;
        background-size   : contain;

        @include Adaptive-Tablet
        {
            padding        : 0 20px;
            font-size      : 20px;
            line-height    : 54px;
            letter-spacing : 2px;
        }

        &:hover
        {
            color : $Color-Red;
        }
    }

}