//----------------------------------------------------------------------------------------------------------------------
//
//----------------------------------------------------------------------------------------------------------------------
%Grayscale
{
    -webkit-filter : grayscale(1);
    -webkit-filter : grayscale(100%);
    filter         : gray;
    filter         : grayscale(100%);
    filter         : url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    //filter         : url(../../../osstro/img/grayscale.svg#greyscale);
}
%Grayscale-Off
{
    -webkit-filter : grayscale(0);
    -webkit-filter : grayscale(0%);
    filter         : none;
    filter         : grayscale(0%);
    //filter         : url(../../../osstro/img/grayscale.svg#greyscale);
}



//----------------------------------------------------------------------------------------------------------------------
// Block Behaviour
//----------------------------------------------------------------------------------------------------------------------

// Adds side padding to a block in viewport 320px - 740px
%Block-Mobile-Side-Padding
{
    @include Adaptive-Phone-Only
    {
        padding-left  : 30px;
        padding-right : 30px;
    }
}



// This styles are for
%Main-Content
{
    width : 100%;
    @include Adaptive-Tablet-Only
    {
        width : $Tablet-Content-Width;
    }
    @include Adaptive-Tablet
    {

        margin        : auto;
        padding-left  : $Tablet-Content-Padding;
        padding-right : $Tablet-Content-Padding;
    }
    @include Adaptive-Desktop-1k
    {
        width   : 1000px;
        padding : 0 40px;
    }
    @include Adaptive($Desktop)
    {
        width   : 1200px;
        padding : 0 40px;
    }
}



//----------------------------------------------------------------------------------------------------------------------

.Letters
{
    margin : 0 auto;

    &.Tab
    {
        width : 100%;
    }
    &.Desktop
    {
        width : auto;
    }
}



%Project-Title
{
    padding         : 15px;
    font-size       : 12px;
    font-family     : 'Circle', verdana, sans-serif;
    color           : #fff;
    text-decoration : none;
    text-transform  : uppercase;
}



%Heading-Big
{
    letter-spacing : 3px;
    font-size      : 30px;
    text-transform : uppercase;
    @include Adaptive-Phone-Only
    {
        font-size : 22px;
    }
}



%Heading-Medium
{
    letter-spacing : 2px;
    font-size      : 20px;
    line-height    : 24px;
    text-transform : uppercase;
    @include Adaptive-Phone-Only
    {
        font-size : 16px;
    }
}



%Adaptive-Image
{

}



// ---------------------------------------------------------------------------------------------------------------------
// Letters Behaviour
// ---------------------------------------------------------------------------------------------------------------------

%Letters-Behaviour-One
{
    .Letters
    {
        &.Desktop
        {
            margin : 20px auto 0;
            width  : 685px;
        }
    }
}



%Letters-Two-Lines
{
    @include Adaptive-Phone-Only
    {
        margin : 8px auto 87px;
    }
    @include Adaptive-Tablet
    {
        margin : 32px auto 80px;
    }
    @include Adaptive-Desktop-1k
    {
        margin : 20px auto 80px;
    }

}



// ---------------------------------------------------------------------------------------------------------------------
// Body Frames
// ---------------------------------------------------------------------------------------------------------------------

%Frame-Right
{
    @include Adaptive-Tablet
    {
        float : right;
        width : 430px;
    }
    @include Adaptive-Desktop-1k
    {
        width : 580px;
    }
    @include Adaptive-Desktop
    {
        width : 680px;
    }
}



%Frame-Pushed-Right
{
    @extend %Frame-Right;
    padding-top : 220px;
    @include Adaptive-Tablet
    {
        padding : 135px 0 0;
    }

    @include Adaptive-Desktop-1k
    {
        padding-top : 174px;

    }
}



// ---------------------------------------------------------------------------------------------------------------------
// Case Square Block
// ---------------------------------------------------------------------------------------------------------------------

%Case-Block
{
    position         : relative;
    display          : inline-block;
    background-color : #999;
    border           : 1px solid #fff;
    transition       : none;
    &:after
    {
        content          : ' ';
        position         : absolute;
        left             : 0;
        bottom           : 0;
        right            : 0;
        top              : 0;
        background-image : linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 50%);
        z-index          : 1;

        &:hover
        {
            background-image : linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
        }
    }

    &.No-Image
    {
        transition : background-color .4s;

        &:hover
        {
            background-color : #666;
        }
    }

    &.No-Image:after
    {
        background-image : none;
    }
    &:hover h3
    {
        //text-shadow: 1px 1px 1px black;
        color : #ffea75;
    }
    & > h3
    {
        position       : absolute;
        bottom         : 0;
        left           : 0;
        right          : 0;
        padding        : 15px 15px 14px;
        color          : #fff;
        text-transform : uppercase;
        z-index        : 111;
        letter-spacing : 1px;
        line-height    : 20px;

        font-size      : 12px !important;
        font-weight    : 400 !important;
    }
    &.Introtext,
    &.Empty-Project
    {
        background-color : transparent;
        &:hover
        {
            background-color : transparent;
        }
        &:after
        {
            display : none;
        }
    }
    &.Introtext
    {
        border-color : transparent;
        padding      : 0 15px;
        h4
        {
            position    : absolute;
            bottom      : 0;
            font-size   : 70px;
            font-weight : 400;
            line-height : 14px;

        }
        small
        {
            display        : block;
            margin-top     : 18px;
            padding-bottom : 17px;
            font-size      : 16px;
            font-weight    : 100;
        }
    }

    .Project-Image
    {
        background-color : #999;
        img
        {
            @extend %Grayscale;
            @extend %Transition-Soft;

            display : block;
            width   : 100%;
        }
    }
    &:hover .Project-Image img{
        @extend %Grayscale-Off;
        @extend %Transition-Soft;
    }
}



// ---------------------------------------------------------------------------------------------------------------------
// Post Content
// ---------------------------------------------------------------------------------------------------------------------

%Post-Styles
{
    @extend %Paragraph-Std;

    & > * + *,
    & > * > li + li
    {
        margin-top : 10px;
    }

    & > *
    {
        line-height : 22px;
    }

    a
    {
        @extend %Link-Brd;
    }

    b, strong
    {
        @include Adaptive-Phone-Only
        {
            font-size : 50px;
            display   : block;
        }
        @include Adaptive-Tablet
        {
            font-size : 70px;
        }

        line-height    : 1;

        // FIXING SAFARI BUG (AUTO LINK PARSING)
        pointer-events : none;
        & > a
        {
            color           : #000;
            text-decoration : none;
        }
    }

    img
    {
        display : block;
        width   : 100%;
    }
    strong
    {
        margin-top  : 20px;
        display     : block;
        font-weight : 700;

        & + em
        {
            display : block;
        }
    }
    h2
    {
        @extend %Heading-Medium;
        margin-top : 40px;
    }

    h2:first-of-type
    {
        margin-top : 0;
    }

    h3
    {
        margin-top  : 40px;
        font-size   : 16px;
        font-weight : 700;
    }

    p > img
    {
        display   : block;
        max-width : 100%;
    }

    small, em
    {
        font-size : 13px;
    }

    table td,
    table th
    {
        padding : 10px;
        &:first-child
        {
            padding-left : 0;
        }
    }
    table th
    {
        font-size     : 13px;
        border-bottom : 1px #ccc solid;
    }

    ol
    {
        list-style-type : decimal;
    }
    p + ul,
    p + ol
    {
        margin-top : 0;
    }
    li
    {
        margin-left : 20px;
        & + li
        {
            margin-top : 5px;
        }
    }
    small
    {
        font-size   : 13px;
        line-height : 1.3;
    }
}



// ---------------------------------------------------------------------------------------------------------------------
// Link Styles
// ---------------------------------------------------------------------------------------------------------------------

%Link-Std
{
    text-decoration : none;
    &:link
    {
        color : #000;
    }
    &:visited
    {
        color : $Color-Gray;
    }
    &:hover
    {
        color : $Color-Red;
    }
}



%Link-Brd
{
    @extend %Link-Std;
    background-image    : linear-gradient(to left, $Color-Blue, $Color-Blue 100%);
    background-position : 0 21px;
    background-size     : 10px 1px;
    background-repeat   : repeat-x;
    &:hover
    {
        background-image : linear-gradient(to left, $Color-Red, $Color-Red 100%);
    }

}



%Link-Fake-Underline
{
    text-decoration : underline;
    color           : $Color-Blue;
    &:visited
    {
        color : $Color-Blue;
    }
    &:hover
    {
        color : $Color-Red;
    }

    i,
    span
    {
        color : #000;
        &:visited
        {
            color : $Color-Gray;
        }
        &:hover
        {
            color : $Color-Red;
        }
    }
}



%Link-Img
{
    @extend %Link-Std;

    padding-bottom      : 2px;
    background-repeat   : no-repeat;
    background-position : left bottom;

}



%Link-Letters
{
    color : #000;
    &:visited
    {
        color : #000;
    }
    &:hover
    {
        color : $Color-Red;
    }
}



// ---------------------------------------------------------------------------------------------------------------------
// Standard Paragraph
// ---------------------------------------------------------------------------------------------------------------------

%Paragraph-Std
{
    font-size   : 16px;
    line-height : 22px;
    & + p
    {
        margin-top : 10px;
    }
}



// ---------------------------------------------------------------------------------------------------------------------
// Headings
// ---------------------------------------------------------------------------------------------------------------------

%Heading-Std
{
    color          : #000;
    text-transform : uppercase;
    letter-spacing : 2px;
}



%Heading-Scalable-16-22
{
    letter-spacing : 2px;
    font-size      : 16px;
    @include Adaptive-Tablet
    {
        font-size : 22px;
    }
}



%Heading-Scalable-22-30
{
    @extend %Heading-Std;
    font-size : 22px;
    @include Adaptive-Tablet
    {
        font-size : 30px;
    }
}



%Heading-30
{
    @extend %Heading-Std;
    font-size   : 30px;
    line-height : 36px;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Transitions
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%Transition-Soft
{
    transition : all .4s;
}



%Transition-OnOut
{
    transition : all .4s;
    &:hover
    {
        transition : none;
    }
}




