////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main Page
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Page-Home
{
    .Projects h2
    {
        display : none;
    }

    .After-Component
    {

        @include Adaptive-Desktop-1k
        {
            margin : 20px auto;
        }
        .Desktop.Letters
        {
            margin-left : 100px;
            width       : 850px;
        }
    }
    .Component
    {
        @extend %Clearfix;

        @include Adaptive-Tablet-Only
        {
            margin-top : 20px;
        }
    }
    .After-Component
    {
        @include Adaptive-Tablet-Only
        {
            margin-top : 20px;
        }
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Projects (Cases)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Page-Projects.Page-Level-1
{
    .Projects-List
    {
        @extend %Clearfix;
    }
}



.Page-Projects.Page-Level-2
{
    .Before-Component
    {
        display : none;
    }
    .Projects-List
    {
        overflow : hidden;
    }
}



.Page-Blog
{
    .Before-Component .Letters
    {
        @extend %Letters-Two-Lines;
    }
}



.Page-Projects,
.Page-Team
{
    .Before-Component .Letters
    {
        @extend %Letters-Two-Lines;
    }
    .Projects h2,
    .Team-Header
    {
        @extend %Heading-Scalable-22-30;
    }
    @include Adaptive-Phone-Only
    {
        .Projects h2
        {
            margin  : 25px 0;
            padding : 0 30px;
        }
    }

    @include Adaptive-Tablet-Only
    {
        .Projects h2
        {
            margin-bottom : 30px;
        }
    }
    @include Adaptive-Desktop-1k
    {
        .Projects > h2,
        .Team-Header
        {
            width  : 685px;
            margin : 0 auto 25px;
        }
    }
}



.Page-Home,
.Page-Projects
{
    .Big-Mobile
    {
        @include Adaptive-Phone-Only
        {
            width : 100%;

        }
    }
    .Big-Tab
    {
        @include Adaptive-Tablet-Only
        {
            width : 66.66%;
        }
    }
    .Big-Desktop
    {
        @include Adaptive-Desktop-1k
        {
            width : 50%;
        }
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Blog
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Level 1
.Page-Blog.Page-Level-1
{

    .After-Component
    {
        display : none;
    }
}



// Level 2
.Page-Blog.Page-Level-2 .Before-Component
{
    display    : none;
    top        : 69px;
    z-index    : 100;
    color      : #fff;
    margin-top : 60px;

}



.Page-Blog.Page-Level-2 .Footer-Inner
{
    clear : both;
}



@include Adaptive-Tablet-Only
{
    .Blog-Post .Blog-Post-Image .Letters.Tab
    {
        width : 440px;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PR, GR
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Page-Pr,
.Page-Gr
{
    .Component
    {
        @extend %Clearfix;
    }
    .Project
    {
        @include Adaptive-Tablet
        {
            width : 50%;
        }
        @include Adaptive-Desktop-1k
        {
            width : 33.33%;
        }
    }

}



.Page-Agency,
.Page-Blog.Page-Level-1,
.Page-Gr,
.Page-Pr
{
    @extend %Letters-Behaviour-One;
}



.Page-Agency,
.Page-Pr,
.Page-Blog.Page-Level-1,
.Page-Gr
{
    main
    {
        position : relative;
    }
    .Before-Component
    {
        position : absolute;
        left     : 0;
        right    : 0;

    }
}



.Page-Agency,
.Page-Pr,
.Page-Gr,
.Page-Blog
{
    .Projects
    {
        @extend %Clearfix;
    }
}



.Page-Home
{
    .Before-Component
    {
        position : relative;
        z-index  : 1;
    }
    .Component
    {
        position : relative;
        z-index  : 2;
    }
}



.Page-Blog.Page-Level-1 .Component
{
    @include Adaptive-Desktop-1k{
        min-height : 2150px;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
