//----------------------------------------------------------------------------------------------------------------------
// Base Styles
//----------------------------------------------------------------------------------------------------------------------

*
{
    box-sizing : border-box;
}



html
{
    overflow-x : hidden;
}



body
{
    font         : 16px/22px 'Circle', sans-serif;
    font-kerning : normal;
    min-width    : 320px;
}



main
{
    @extend %Main-Content;
}



a
{
    @extend %Transition-OnOut;
}


//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// Shared Classes
//----------------------------------------------------------------------------------------------------------------------

.Tab, .Desktop
{
    display : none;

}



.Tab
{
    @include Adaptive-Tablet-Only
    {
        display : block;
    }
}



.Desktop
{
    @include Adaptive-Desktop-1k
    {
        display : block;
    }
}



.Mobile
{
    display : block;

    @include Adaptive-Tablet
    {
        display : none;
    }
}



//----------------------------------------------------------------------------------------------------------------------
.Preloader
{
    visibility : hidden;
    height     : 0;
    width      : 0;
    background : url(./../img/bg-d-line-2-h.png),
    url(./../img/line-2-h.svg),
    url(./../img/line-6-h.svg),
    url(./../img/line-7-h.svg),
    url(./../img/line-8-h.svg),
    url(./../img/m-line-2-h.svg),
    url(./../img/m-line-6-h.svg),
    url(./../img/m-line-7-h.svg),
    url(./../img/m-line-8-h.svg),
    url(./../img/menu-1.svg),
    url(./../img/menu-2.svg),
    url(./../img/menu-3.svg),
    url(./../img/menu-4.svg),
    url(./../img/menu-5.svg),
    url(./../img/menu-6.svg),
    url(./../img/menu-7.svg),
    url(./../img/bg-d-underline-01h.png),
    url(./../img/bg-d-underline-02h.png),
    url(./../img/bg-d-underline-03h.png),
    url(./../img/bg-m-underline-h.png),
    url(./../img/bg-d-button-more-h.png),
    url(./../img/ico-d-close-h.png),
    url(./../img/ico-m-close-h@2x.png),
    url(./../img/ico-m-send-button-h.png),
    url(./../img/pic-logo-h.png),
    url(./../img/pic-logo2x-h.png)
}
















