.Projects
{
    line-height: 1;
    h2
    {
        @extend %Heading-Big;
    }

    hr
    {
        display    : none;
        visibility : hidden;
        clear      : both;

        height     : 0;
        border     : none;

        @include Adaptive(1000px)
        {
            display : block;
        }
    }

}


.Projects-List
{
    @extend %Clearfix;
    line-height: 0;
    font-size : 0;
}


.Project
{
    @extend %Case-Block;
}


.Project
{
    @include Adaptive-Phone-Only
    {
        width : 50%;
        &.Empty-Project
        {
            display : none;
        }
    }
    @include Adaptive-Tablet-Only
    {
        width : 33.33%;

        // Row 1
        &:nth-of-type(6n+1)
        {
            float : left;
        }
        &:nth-of-type(6n+2),
        &:nth-of-type(6n+3)
        {
            float : right;
        }

        &:nth-of-type(5)
        {
            clear : left;
        }
        &:nth-of-type(6n+4),
        &:nth-of-type(6n+5)
        {
            float : left;
        }
        &.Empty-Project
        {
            display : none;
        }
    }
    @include Adaptive-Desktop-1k
    {
        width : 25%;

        &:nth-of-type(10n+1)
        {
            float : left;
        }

        &:nth-of-type(10n+6),
        &:nth-of-type(10n+7),
        &:nth-of-type(10n+8),
        &:nth-of-type(10n+9)
        {
            float : left;
        }

        &.Desktop-Clear-Left
        {
            clear : left;
        }
    }
}


.Empty-Project
{
    clear : left;
}


