/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav[role='navigation']:before, .Footer-Inner:before, .Footer-Inner .Footer-Top:before, .Footer-Inner .Made-By:before, .Pagination:before, .Pagination ul:before, .Projects-List:before, .Page-Home .Component:before, .Page-Projects.Page-Level-1 .Projects-List:before, .Page-Pr .Component:before,
.Page-Gr .Component:before, .Page-Agency .Projects:before,
.Page-Pr .Projects:before,
.Page-Gr .Projects:before,
.Page-Blog .Projects:before, .Page-Agency main:before, .Blog:before, .Page-Blog .Component:before, .Blog-Post:before, .Page-Blog.Page-Level-2 .Component:before, .Page-Blog.Page-Level-2 .After-Component:before, .Project-Item:before,
nav[role='navigation']:after,
.Footer-Inner:after,
.Footer-Inner .Footer-Top:after,
.Footer-Inner .Made-By:after,
.Pagination:after,
.Pagination ul:after,
.Projects-List:after,
.Page-Home .Component:after,
.Page-Projects.Page-Level-1 .Projects-List:after,
.Page-Pr .Component:after,
.Page-Gr .Component:after,
.Page-Agency .Projects:after,
.Page-Pr .Projects:after,
.Page-Gr .Projects:after,
.Page-Blog .Projects:after,
.Page-Agency main:after,
.Blog:after,
.Page-Blog .Component:after,
.Blog-Post:after,
.Page-Blog.Page-Level-2 .Component:after,
.Page-Blog.Page-Level-2 .After-Component:after,
.Project-Item:after {
  content: " ";
  display: table; }

nav[role='navigation']:after, .Footer-Inner:after, .Footer-Inner .Footer-Top:after, .Footer-Inner .Made-By:after, .Pagination:after, .Pagination ul:after, .Projects-List:after, .Page-Home .Component:after, .Page-Projects.Page-Level-1 .Projects-List:after, .Page-Pr .Component:after,
.Page-Gr .Component:after, .Page-Agency .Projects:after,
.Page-Pr .Projects:after,
.Page-Gr .Projects:after,
.Page-Blog .Projects:after, .Page-Agency main:after, .Blog:after, .Page-Blog .Component:after, .Blog-Post:after, .Page-Blog.Page-Level-2 .Component:after, .Page-Blog.Page-Level-2 .After-Component:after, .Project-Item:after {
  clear: both; }

.Left {
  float: left; }

.Right {
  float: right; }

.Text-Right {
  text-align: right; }

.Text-Left {
  text-align: left; }

.Blog-Post-Social .Share-Links,
.Project-Social .Share-Links, .Team {
  font-size: 0; }
  .Blog-Post-Social .Share-Links > *,
  .Project-Social .Share-Links > *, .Team > * {
    display: inline-block; }

.Blog-Post-Social .Share-Links,
.Project-Social .Share-Links {
  text-align: center; }

.Specialist-Image img {
  display: block;
  width: 100%; }

@font-face {
  font-family: 'Circle';
  src: url("/templates/osstro/fonts/CRC55__W.eot");
  src: url("/templates/osstro/fonts/CRC55__W.eot?#iefix") format("embedded-opentype"), url("/templates/osstro/fonts/CRC55__W.woff2") format("woff2"), url("/templates/osstro/fonts/CRC55__W.woff") format("woff"), url("/templates/osstro/fonts/CRC55__W.ttf") format("truetype"), url("/templates/osstro/fonts/CRC55__W.svg#CirceWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circle';
  src: url("/templates/osstro/fonts/CRC65__W.eot");
  src: url("/templates/osstro/fonts/CRC65__W.eot?#iefix") format("embedded-opentype"), url("/templates/osstro/fonts/CRC65__W.woff2") format("woff2"), url("/templates/osstro/fonts/CRC65__W.woff") format("woff"), url("/templates/osstro/fonts/CRC65__W.ttf") format("truetype"), url("/templates/osstro/fonts/CRC65__W.svg#CirceWeb-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

.Project .Project-Image img, .Directors-Text, .Comment-Image, .Blog-Post .Blog-Post-Image, .Blog-Same-Posts .Blog-Same-Post .Blog-Same-Post-Image, .Blog-Same-Posts .Blog-Same-Post .Blog-Same-Post-Image img, .Gallery .fotorama .fotorama__html, .Specialist-Image img {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }

.Project:hover .Project-Image img {
  -webkit-filter: grayscale(0);
  -webkit-filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

@media screen and (max-width: 739px) {
  .Agency-Description, .Directors-Text, .moduletable .Comments, .P-free, .PR .moduletable > h3, .GR .GR-Info,
  .GR .GR-List, .GR .moduletable > h3, .Blog, .Page-Blog.Page-Level-2 .Blog-Post-Text,
  .Page-Blog.Page-Level-2 .Blog-Post-Meta,
  .Page-Blog.Page-Level-2 .Blog-Post-Social, .Team .Team-Header {
    padding-left: 30px;
    padding-right: 30px; } }

main, .Footer-Inner {
  width: 100%; }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    main, .Footer-Inner {
      width: 700px; } }
  @media screen and (min-width: 740px) {
    main, .Footer-Inner {
      margin: auto;
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1000px) {
    main, .Footer-Inner {
      width: 1000px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    main, .Footer-Inner {
      width: 1200px;
      padding: 0 40px; } }

.Letters {
  margin: 0 auto; }
  .Letters.Tab {
    width: 100%; }
  .Letters.Desktop {
    width: auto; }

.Projects h2, .Modal h3, .Post-Title, .Team .Team-Header {
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase; }
  @media screen and (max-width: 739px) {
    .Projects h2, .Modal h3, .Post-Title, .Team .Team-Header {
      font-size: 22px; } }

.Page-Agency .Component h2, .PR h2, .Blog-Post-Text h2, .Page-Blog .Blog-Post-Text h2,
.Page-Blog .Blog-Post-Introtext h2, .Project-Right-Row .Description h2, .Modal .Send, .Modal .Close-Button, .Blog-Post > a,
.Blog-Post h2.Blog-Post-Title, .Blog-Same-Posts .Blog-Same-Post header .Blog-Post-Title, .Specialist-Title {
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase; }
  @media screen and (max-width: 739px) {
    .Page-Agency .Component h2, .PR h2, .Blog-Post-Text h2, .Page-Blog .Blog-Post-Text h2,
    .Page-Blog .Blog-Post-Introtext h2, .Project-Right-Row .Description h2, .Modal .Send, .Modal .Close-Button, .Blog-Post > a,
    .Blog-Post h2.Blog-Post-Title, .Blog-Same-Posts .Blog-Same-Post header .Blog-Post-Title, .Specialist-Title {
      font-size: 16px; } }

.Page-Agency .Letters.Desktop,
.Page-Blog.Page-Level-1 .Letters.Desktop,
.Page-Gr .Letters.Desktop,
.Page-Pr .Letters.Desktop {
  margin: 20px auto 0;
  width: 685px; }

@media screen and (max-width: 739px) {
  .Page-Blog .Before-Component .Letters, .Page-Projects .Before-Component .Letters,
  .Page-Team .Before-Component .Letters {
    margin: 8px auto 87px; } }

@media screen and (min-width: 740px) {
  .Page-Blog .Before-Component .Letters, .Page-Projects .Before-Component .Letters,
  .Page-Team .Before-Component .Letters {
    margin: 32px auto 80px; } }

@media screen and (min-width: 1000px) {
  .Page-Blog .Before-Component .Letters, .Page-Projects .Before-Component .Letters,
  .Page-Team .Before-Component .Letters {
    margin: 20px auto 80px; } }

@media screen and (min-width: 740px) {
  .Node-A, .PR, .GR, .Blog {
    float: right;
    width: 430px; } }

@media screen and (min-width: 1000px) {
  .Node-A, .PR, .GR, .Blog {
    width: 580px; } }

@media screen and (min-width: 1200px) {
  .Node-A, .PR, .GR, .Blog {
    width: 680px; } }

.Node-A, .PR, .GR, .Blog {
  padding-top: 220px; }
  @media screen and (min-width: 740px) {
    .Node-A, .PR, .GR, .Blog {
      padding: 135px 0 0; } }
  @media screen and (min-width: 1000px) {
    .Node-A, .PR, .GR, .Blog {
      padding-top: 174px; } }

.Project {
  position: relative;
  display: inline-block;
  background-color: #999;
  border: 1px solid #fff;
  transition: none; }
  .Project:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
    z-index: 1; }
    .Project:after:hover {
      background-image: linear-gradient(0deg, black 0%, transparent 50%); }
  .No-Image.Project {
    transition: background-color .4s; }
    .No-Image.Project:hover {
      background-color: #666; }
  .No-Image.Project:after {
    background-image: none; }
  .Project:hover h3 {
    color: #ffea75; }
  .Project > h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 15px 14px;
    color: #fff;
    text-transform: uppercase;
    z-index: 111;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 12px !important;
    font-weight: 400 !important; }
  .Introtext.Project, .Empty-Project.Project {
    background-color: transparent; }
    .Introtext.Project:hover, .Empty-Project.Project:hover {
      background-color: transparent; }
    .Introtext.Project:after, .Empty-Project.Project:after {
      display: none; }
  .Introtext.Project {
    border-color: transparent;
    padding: 0 15px; }
    .Introtext.Project h4 {
      position: absolute;
      bottom: 0;
      font-size: 70px;
      font-weight: 400;
      line-height: 14px; }
    .Introtext.Project small {
      display: block;
      margin-top: 18px;
      padding-bottom: 17px;
      font-size: 16px;
      font-weight: 100; }
  .Project .Project-Image {
    background-color: #999; }
    .Project .Project-Image img {
      display: block;
      width: 100%; }

.Page-Agency .Component > * + *, .PR > * + *, .Blog-Post-Text > * + *, .Page-Blog .Blog-Post-Text > * + *,
.Page-Blog .Blog-Post-Introtext > * + *, .Project-Right-Row .Description > * + *, .Page-Agency .Component > * > li + li, .PR > * > li + li, .Blog-Post-Text > * > li + li, .Page-Blog .Blog-Post-Text > * > li + li,
.Page-Blog .Blog-Post-Introtext > * > li + li, .Project-Right-Row .Description > * > li + li {
  margin-top: 10px; }

.Page-Agency .Component > *, .PR > *, .Blog-Post-Text > *, .Page-Blog .Blog-Post-Text > *,
.Page-Blog .Blog-Post-Introtext > *, .Project-Right-Row .Description > * {
  line-height: 22px; }

.Page-Agency .Component b, .PR b, .Blog-Post-Text b, .Page-Blog .Blog-Post-Text b,
.Page-Blog .Blog-Post-Introtext b, .Project-Right-Row .Description b, .Page-Agency .Component strong, .PR strong, .Blog-Post-Text strong, .Page-Blog .Blog-Post-Text strong,
.Page-Blog .Blog-Post-Introtext strong, .Project-Right-Row .Description strong {
  line-height: 1;
  pointer-events: none; }
  @media screen and (max-width: 739px) {
    .Page-Agency .Component b, .PR b, .Blog-Post-Text b, .Page-Blog .Blog-Post-Text b,
    .Page-Blog .Blog-Post-Introtext b, .Project-Right-Row .Description b, .Page-Agency .Component strong, .PR strong, .Blog-Post-Text strong, .Page-Blog .Blog-Post-Text strong,
    .Page-Blog .Blog-Post-Introtext strong, .Project-Right-Row .Description strong {
      font-size: 50px;
      display: block; } }
  @media screen and (min-width: 740px) {
    .Page-Agency .Component b, .PR b, .Blog-Post-Text b, .Page-Blog .Blog-Post-Text b,
    .Page-Blog .Blog-Post-Introtext b, .Project-Right-Row .Description b, .Page-Agency .Component strong, .PR strong, .Blog-Post-Text strong, .Page-Blog .Blog-Post-Text strong,
    .Page-Blog .Blog-Post-Introtext strong, .Project-Right-Row .Description strong {
      font-size: 70px; } }
  .Page-Agency .Component b > a, .PR b > a, .Blog-Post-Text b > a, .Page-Blog .Blog-Post-Text b > a,
  .Page-Blog .Blog-Post-Introtext b > a, .Project-Right-Row .Description b > a, .Page-Agency .Component strong > a, .PR strong > a, .Blog-Post-Text strong > a, .Page-Blog .Blog-Post-Text strong > a,
  .Page-Blog .Blog-Post-Introtext strong > a, .Project-Right-Row .Description strong > a {
    color: #000;
    text-decoration: none; }

.Page-Agency .Component img, .PR img, .Blog-Post-Text img, .Page-Blog .Blog-Post-Text img,
.Page-Blog .Blog-Post-Introtext img, .Project-Right-Row .Description img {
  display: block;
  width: 100%; }

.Page-Agency .Component strong, .PR strong, .Blog-Post-Text strong, .Page-Blog .Blog-Post-Text strong,
.Page-Blog .Blog-Post-Introtext strong, .Project-Right-Row .Description strong {
  margin-top: 20px;
  display: block;
  font-weight: 700; }
  .Page-Agency .Component strong + em, .PR strong + em, .Blog-Post-Text strong + em, .Page-Blog .Blog-Post-Text strong + em,
  .Page-Blog .Blog-Post-Introtext strong + em, .Project-Right-Row .Description strong + em {
    display: block; }

.Page-Agency .Component h2, .PR h2, .Blog-Post-Text h2, .Page-Blog .Blog-Post-Text h2,
.Page-Blog .Blog-Post-Introtext h2, .Project-Right-Row .Description h2 {
  margin-top: 40px; }

.Page-Agency .Component h2:first-of-type, .PR h2:first-of-type, .Blog-Post-Text h2:first-of-type,
.Page-Blog .Blog-Post-Introtext h2:first-of-type, .Project-Right-Row .Description h2:first-of-type {
  margin-top: 0; }

.Page-Agency .Component h3, .PR h3, .Blog-Post-Text h3, .Page-Blog .Blog-Post-Text h3,
.Page-Blog .Blog-Post-Introtext h3, .Project-Right-Row .Description h3 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700; }

.Page-Agency .Component p > img, .PR p > img, .Blog-Post-Text p > img, .Page-Blog .Blog-Post-Text p > img,
.Page-Blog .Blog-Post-Introtext p > img, .Project-Right-Row .Description p > img {
  display: block;
  max-width: 100%; }

.Page-Agency .Component small, .PR small, .Blog-Post-Text small, .Page-Blog .Blog-Post-Text small,
.Page-Blog .Blog-Post-Introtext small, .Project-Right-Row .Description small, .Page-Agency .Component em, .PR em, .Blog-Post-Text em, .Page-Blog .Blog-Post-Text em,
.Page-Blog .Blog-Post-Introtext em, .Project-Right-Row .Description em {
  font-size: 13px; }

.Page-Agency .Component table td, .PR table td, .Blog-Post-Text table td, .Page-Blog .Blog-Post-Text table td,
.Page-Blog .Blog-Post-Introtext table td, .Project-Right-Row .Description table td, .Page-Agency .Component table th, .PR table th, .Blog-Post-Text table th, .Page-Blog .Blog-Post-Text table th,
.Page-Blog .Blog-Post-Introtext table th, .Project-Right-Row .Description table th {
  padding: 10px; }
  .Page-Agency .Component table td:first-child, .PR table td:first-child, .Blog-Post-Text table td:first-child,
  .Page-Blog .Blog-Post-Introtext table td:first-child, .Project-Right-Row .Description table td:first-child, .Page-Agency .Component table th:first-child, .PR table th:first-child, .Blog-Post-Text table th:first-child,
  .Page-Blog .Blog-Post-Introtext table th:first-child, .Project-Right-Row .Description table th:first-child {
    padding-left: 0; }

.Page-Agency .Component table th, .PR table th, .Blog-Post-Text table th, .Page-Blog .Blog-Post-Text table th,
.Page-Blog .Blog-Post-Introtext table th, .Project-Right-Row .Description table th {
  font-size: 13px;
  border-bottom: 1px #ccc solid; }

.Page-Agency .Component ol, .PR ol, .Blog-Post-Text ol, .Page-Blog .Blog-Post-Text ol,
.Page-Blog .Blog-Post-Introtext ol, .Project-Right-Row .Description ol {
  list-style-type: decimal; }

.Page-Agency .Component p + ul, .PR p + ul, .Blog-Post-Text p + ul, .Page-Blog .Blog-Post-Text p + ul,
.Page-Blog .Blog-Post-Introtext p + ul, .Project-Right-Row .Description p + ul, .Page-Agency .Component p + ol, .PR p + ol, .Blog-Post-Text p + ol, .Page-Blog .Blog-Post-Text p + ol,
.Page-Blog .Blog-Post-Introtext p + ol, .Project-Right-Row .Description p + ol {
  margin-top: 0; }

.Page-Agency .Component li, .PR li, .Blog-Post-Text li, .Page-Blog .Blog-Post-Text li,
.Page-Blog .Blog-Post-Introtext li, .Project-Right-Row .Description li {
  margin-left: 20px; }
  .Page-Agency .Component li + li, .PR li + li, .Blog-Post-Text li + li, .Page-Blog .Blog-Post-Text li + li,
  .Page-Blog .Blog-Post-Introtext li + li, .Project-Right-Row .Description li + li {
    margin-top: 5px; }

.Page-Agency .Component small, .PR small, .Blog-Post-Text small, .Page-Blog .Blog-Post-Text small,
.Page-Blog .Blog-Post-Introtext small, .Project-Right-Row .Description small {
  font-size: 13px;
  line-height: 1.3; }

.Page-Agency .Component a, .PR a, .Blog-Post-Text a, .Page-Blog .Blog-Post-Text a,
.Page-Blog .Blog-Post-Introtext a, .Project-Right-Row .Description a, .Footer-Inner .Contacts .Link-Address,
.Footer-Inner .Contacts .Address:nth-child(1),
.Footer-Inner .Contacts-Info .Link-Address,
.Footer-Inner .Contacts-Info .Address:nth-child(1), .Footer-Inner .Contacts .Link-Move,
.Footer-Inner .Contacts-Info .Link-Move, .Footer-Inner .Contacts .Link-Mail,
.Footer-Inner .Contacts .Email,
.Footer-Inner .Contacts-Info .Link-Mail,
.Footer-Inner .Contacts-Info .Email, .Made-By a, .Node-A .P3 a, .Blog-Post > a h3.Blog-Post-Title span, .Page-Contacts .Header a, .Footer-Inner .Contacts a,
.Footer-Inner .Contacts-Info a {
  text-decoration: none; }
  .Page-Agency .Component a:link, .PR a:link, .Blog-Post-Text a:link,
  .Page-Blog .Blog-Post-Introtext a:link, .Project-Right-Row .Description a:link, .Footer-Inner .Contacts .Link-Address:link,
  .Footer-Inner .Contacts .Address:link:nth-child(1),
  .Footer-Inner .Contacts-Info .Link-Address:link,
  .Footer-Inner .Contacts-Info .Address:link:nth-child(1), .Footer-Inner .Contacts .Link-Move:link,
  .Footer-Inner .Contacts-Info .Link-Move:link, .Footer-Inner .Contacts .Link-Mail:link,
  .Footer-Inner .Contacts .Email:link,
  .Footer-Inner .Contacts-Info .Link-Mail:link,
  .Footer-Inner .Contacts-Info .Email:link, .Made-By a:link, .Node-A .P3 a:link, .Blog-Post > a h3.Blog-Post-Title span:link, .Page-Contacts .Header a:link, .Footer-Inner .Contacts a:link,
  .Footer-Inner .Contacts-Info a:link {
    color: #000; }
  .Page-Agency .Component a:visited, .PR a:visited, .Blog-Post-Text a:visited,
  .Page-Blog .Blog-Post-Introtext a:visited, .Project-Right-Row .Description a:visited, .Footer-Inner .Contacts .Link-Address:visited,
  .Footer-Inner .Contacts .Address:visited:nth-child(1),
  .Footer-Inner .Contacts-Info .Link-Address:visited,
  .Footer-Inner .Contacts-Info .Address:visited:nth-child(1), .Footer-Inner .Contacts .Link-Move:visited,
  .Footer-Inner .Contacts-Info .Link-Move:visited, .Footer-Inner .Contacts .Link-Mail:visited,
  .Footer-Inner .Contacts .Email:visited,
  .Footer-Inner .Contacts-Info .Link-Mail:visited,
  .Footer-Inner .Contacts-Info .Email:visited, .Made-By a:visited, .Node-A .P3 a:visited, .Blog-Post > a h3.Blog-Post-Title span:visited, .Page-Contacts .Header a:visited, .Footer-Inner .Contacts a:visited,
  .Footer-Inner .Contacts-Info a:visited {
    color: #999; }
  .Page-Agency .Component a:hover, .PR a:hover, .Blog-Post-Text a:hover,
  .Page-Blog .Blog-Post-Introtext a:hover, .Project-Right-Row .Description a:hover, .Footer-Inner .Contacts .Link-Address:hover,
  .Footer-Inner .Contacts .Address:hover:nth-child(1),
  .Footer-Inner .Contacts-Info .Link-Address:hover,
  .Footer-Inner .Contacts-Info .Address:hover:nth-child(1), .Footer-Inner .Contacts .Link-Move:hover,
  .Footer-Inner .Contacts-Info .Link-Move:hover, .Footer-Inner .Contacts .Link-Mail:hover,
  .Footer-Inner .Contacts .Email:hover,
  .Footer-Inner .Contacts-Info .Link-Mail:hover,
  .Footer-Inner .Contacts-Info .Email:hover, .Made-By a:hover, .Node-A .P3 a:hover, .Blog-Post > a h3.Blog-Post-Title span:hover, .Page-Contacts .Header a:hover, .Footer-Inner .Contacts a:hover,
  .Footer-Inner .Contacts-Info a:hover {
    color: #f1627f; }

.Page-Agency .Component a, .PR a, .Blog-Post-Text a, .Page-Blog .Blog-Post-Text a,
.Page-Blog .Blog-Post-Introtext a, .Project-Right-Row .Description a, .Footer-Inner .Contacts .Link-Address,
.Footer-Inner .Contacts .Address:nth-child(1),
.Footer-Inner .Contacts-Info .Link-Address,
.Footer-Inner .Contacts-Info .Address:nth-child(1), .Footer-Inner .Contacts .Link-Move,
.Footer-Inner .Contacts-Info .Link-Move, .Footer-Inner .Contacts .Link-Mail,
.Footer-Inner .Contacts .Email,
.Footer-Inner .Contacts-Info .Link-Mail,
.Footer-Inner .Contacts-Info .Email, .Made-By a, .Node-A .P3 a, .Blog-Post > a h3.Blog-Post-Title span, .Page-Contacts .Header a {
  background-image: linear-gradient(to left, #5688ed, #5688ed 100%);
  background-position: 0 21px;
  background-size: 10px 1px;
  background-repeat: repeat-x; }
  .Page-Agency .Component a:hover, .PR a:hover, .Blog-Post-Text a:hover,
  .Page-Blog .Blog-Post-Introtext a:hover, .Project-Right-Row .Description a:hover, .Footer-Inner .Contacts .Link-Address:hover,
  .Footer-Inner .Contacts .Address:hover:nth-child(1),
  .Footer-Inner .Contacts-Info .Link-Address:hover,
  .Footer-Inner .Contacts-Info .Address:hover:nth-child(1), .Footer-Inner .Contacts .Link-Move:hover,
  .Footer-Inner .Contacts-Info .Link-Move:hover, .Footer-Inner .Contacts .Link-Mail:hover,
  .Footer-Inner .Contacts .Email:hover,
  .Footer-Inner .Contacts-Info .Link-Mail:hover,
  .Footer-Inner .Contacts-Info .Email:hover, .Made-By a:hover, .Node-A .P3 a:hover, .Blog-Post > a h3.Blog-Post-Title span:hover, .Page-Contacts .Header a:hover {
    background-image: linear-gradient(to left, #f1627f, #f1627f 100%); }

.Footer-Inner .Contacts a,
.Footer-Inner .Contacts-Info a {
  padding-bottom: 2px;
  background-repeat: no-repeat;
  background-position: left bottom; }

.Page-Agency .Component, .PR, .Blog-Post-Text, .Page-Blog .Blog-Post-Text,
.Page-Blog .Blog-Post-Introtext, .Project-Right-Row .Description, .Node-A p, .Comments .Comment-Content p,
.Comments .Comment-Position p, .PR .PR-Info p {
  font-size: 16px;
  line-height: 22px; }
  .Page-Agency .Component + p, .PR + p, .Blog-Post-Text + p, .Page-Blog .Blog-Post-Text + p,
  .Page-Blog .Blog-Post-Introtext + p, .Project-Right-Row .Description + p, .Node-A p + p, .Comments .Comment-Content p + p,
  .Comments .Comment-Position p + p, .PR .PR-Info p + p {
    margin-top: 10px; }

.Page-Projects .Projects h2,
.Page-Projects .Team-Header,
.Page-Team .Projects h2,
.Page-Team .Team-Header, .PR h2, .GR .GR-Info h2 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px; }

.PR .moduletable > h3, .GR .moduletable > h3 {
  letter-spacing: 2px;
  font-size: 16px; }
  @media screen and (min-width: 740px) {
    .PR .moduletable > h3, .GR .moduletable > h3 {
      font-size: 22px; } }

.Page-Projects .Projects h2,
.Page-Projects .Team-Header,
.Page-Team .Projects h2,
.Page-Team .Team-Header, .PR h2, .GR .GR-Info h2 {
  font-size: 22px; }
  @media screen and (min-width: 740px) {
    .Page-Projects .Projects h2,
    .Page-Projects .Team-Header,
    .Page-Team .Projects h2,
    .Page-Team .Team-Header, .PR h2, .GR .GR-Info h2 {
      font-size: 30px; } }

.Project .Project-Image img, .Project:hover .Project-Image img {
  transition: all .4s; }

a {
  transition: all .4s; }
  a:hover {
    transition: none; }

* {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font: 16px/22px 'Circle', sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  min-width: 320px; }

.Tab, .Desktop {
  display: none; }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Tab {
    display: block; } }

@media screen and (min-width: 1000px) {
  .Desktop {
    display: block; } }

.Mobile {
  display: block; }
  @media screen and (min-width: 740px) {
    .Mobile {
      display: none; } }

.Preloader {
  visibility: hidden;
  height: 0;
  width: 0;
  background: url(./../img/bg-d-line-2-h.png), url(./../img/line-2-h.svg), url(./../img/line-6-h.svg), url(./../img/line-7-h.svg), url(./../img/line-8-h.svg), url(./../img/m-line-2-h.svg), url(./../img/m-line-6-h.svg), url(./../img/m-line-7-h.svg), url(./../img/m-line-8-h.svg), url(./../img/menu-1.svg), url(./../img/menu-2.svg), url(./../img/menu-3.svg), url(./../img/menu-4.svg), url(./../img/menu-5.svg), url(./../img/menu-6.svg), url(./../img/menu-7.svg), url(./../img/bg-d-underline-01h.png), url(./../img/bg-d-underline-02h.png), url(./../img/bg-d-underline-03h.png), url(./../img/bg-m-underline-h.png), url(./../img/bg-d-button-more-h.png), url(./../img/ico-d-close-h.png), url(./../img/ico-m-close-h@2x.png), url(./../img/ico-m-send-button-h.png), url(./../img/pic-logo-h.png), url(./../img/pic-logo2x-h.png); }

.Contacts .Map {
  width: 400px;
  height: 400px; }

nav[role='navigation'] {
  padding: 22px 0 10px;
  font-size: 0;
  text-align: center;
  transition: padding .2s; }
  @media screen and (max-width: 739px) {
    nav[role='navigation'] {
      padding-bottom: 6px; } }
  @media screen and (max-width: 739px) {
    nav[role='navigation'].Active {
      padding: 0 0 25px; } }
  @media screen and (min-width: 740px) {
    nav[role='navigation'].Active .Mobile-Menu {
      display: none; } }

.Company-Logo {
  background-image: url(./../img/logo.svg);
  vertical-align: middle;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: none; }
  .Company-Logo:hover {
    background-image: url(./../img/logo-h.svg); }
  @media screen and (min-width: 1000px) {
    .Company-Logo {
      float: left; } }

.Mobile-Menu > .Menu {
  display: none; }

@media screen and (max-width: 739px) {
  nav > .Menu {
    display: none; }
  .Menu {
    text-align: center; }
  .Company-Logo {
    float: left;
    margin-left: 30px;
    padding-top: 2px;
    width: 156px;
    height: 15px; }
  nav {
    vertical-align: middle; } }
  @media screen and (max-width: 739px) and (max-width: 739px) {
    nav {
      min-height: 60px; } }

@media screen and (max-width: 739px) {
    nav ul {
      display: block;
      width: 100%;
      clear: both; }
      nav ul li + li {
        border-top: 1px #ccc solid; }
      nav ul li:last-child {
        border-bottom: 1px #ccc solid;
        margin-bottom: 20px; }
      nav ul li a {
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 12px;
        background-size: contain;
        letter-spacing: 1px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Company-Logo {
    float: left; }
  .Menu {
    margin-left: 10px; }
    .Menu li {
      margin-top: -2px;
      background-size: 100%;
      display: inline-block;
      width: auto; }
      .Menu li a {
        padding: 8px 11px 8px;
        font-size: 11px;
        letter-spacing: 1px;
        background-size: contain; }
    .Menu li + li {
      margin-left: 0px; } }

@media screen and (min-width: 740px) {
  .Company-Logo {
    width: 156px;
    height: 15px; }
  .Menu li {
    display: inline-block; } }

.Menu {
  font-size: 0;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(1).Active a {
      background-image: url(./../img/menu-1.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(2).Active a {
      background-image: url(./../img/menu-2.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(3).Active a {
      background-image: url(./../img/menu-3.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(4).Active a {
      background-image: url(./../img/menu-4.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(5).Active a {
      background-image: url(./../img/menu-5.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(6).Active a {
      background-image: url(./../img/menu-6.svg); } }
  @media screen and (min-width: 740px) {
    .Menu li:nth-child(7).Active a {
      background-image: url(./../img/menu-7.svg); } }
  .Menu a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    transition: color .2s; }
    .Menu a:hover {
      transition: none;
      color: #f1627f; }
    @media screen and (min-width: 1000px) {
      .Menu a {
        padding: 11px 24px;
        font-size: 12px;
        letter-spacing: 2px;
        background-size: contain; } }
    @media screen and (min-width: 1200px) {
      .Menu a {
        padding: 11px 25px;
        font-size: 12px; } }
  .Menu li.Active a {
    color: #5688ed; }
    .Menu li.Active a:hover {
      color: #5688ed; }
  .Menu li.Active-But-Link a {
    color: #000; }
  @media (min-width: 740px) and (min-device-pixel-ratio: 2) {
    .Menu li:nth-child(1).Active a {
      background-image: url(./../img/menu-1-h.svg); }
    .Menu li:nth-child(2).Active a {
      background-image: url(./../img/menu-2-h.svg); }
    .Menu li:nth-child(3).Active a {
      background-image: url(./../img/menu-3-h.svg); }
    .Menu li:nth-child(4).Active a {
      background-image: url(./../img/menu-4-h.svg); }
    .Menu li:nth-child(5).Active a {
      background-image: url(./../img/menu-5-h.svg); }
    .Menu li:nth-child(6).Active a {
      background-image: url(./../img/menu-6-h.svg); }
    .Menu li:nth-child(7).Active a {
      background-image: url(./../img/menu-7-h.svg); } }
  @media screen and (min-width: 740px) {
    .Menu {
      float: right;
      margin-right: -20px; } }
  @media screen and (min-width: 1000px) {
    .Menu {
      margin-right: -30px; }
      .Menu li + li {
        margin-left: 5px; } }
  @media screen and (min-width: 1200px) {
    .Menu li + li {
      margin-left: 10px; } }

.Page-Blog.Page-Level-2 .Menu, .Page-Projects.Page-Level-2 .Menu {
  float: right;
  margin-right: -13px; }

.Footer-Inner {
  clear: both;
  margin-top: 100px;
  padding-bottom: 50px; }
  .Footer-Inner .Contacts,
  .Footer-Inner .Contacts-Info {
    vertical-align: top; }
    .Footer-Inner .Contacts .Contacts-Links a,
    .Footer-Inner .Contacts-Info .Contacts-Links a {
      display: inline-block; }
      .Footer-Inner .Contacts .Contacts-Links a + a,
      .Footer-Inner .Contacts-Info .Contacts-Links a + a {
        margin-top: 6px; }
        @media screen and (min-width: 740px) {
          .Footer-Inner .Contacts .Contacts-Links a + a,
          .Footer-Inner .Contacts-Info .Contacts-Links a + a {
            margin-top: 10px; } }
    .Footer-Inner .Contacts .Link-Address,
    .Footer-Inner .Contacts .Address:nth-child(1),
    .Footer-Inner .Contacts-Info .Link-Address,
    .Footer-Inner .Contacts-Info .Address:nth-child(1) {
      padding-left: 0; }
    .Footer-Inner .Contacts .Phone, .Footer-Inner .Contacts .Email,
    .Footer-Inner .Contacts-Info .Phone,
    .Footer-Inner .Contacts-Info .Email {
      padding-bottom: 3px;
      vertical-align: top; }

.Made-By a {
  display: inline-block; }

.Made-By .Year {
  display: block;
  margin-top: -10px;
  font-size: 11px; }

@media screen and (max-width: 739px) {
  .Footer-Inner {
    margin-top: 20px; }
    .Footer-Inner .Contacts,
    .Footer-Inner .Contacts-Info {
      padding: 0 30px; }
      .Footer-Inner .Contacts > *,
      .Footer-Inner .Contacts-Info > * {
        margin-top: 0; }
    .Footer-Inner .Phone {
      margin-top: 20px;
      margin-left: -12px; }
    .Footer-Inner .Email {
      margin-top: 10px; }
    .Footer-Inner .Phone, .Footer-Inner .Email {
      display: table; }
    .Footer-Inner .Made-By {
      margin-top: 15px;
      padding: 0 30px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Map {
    float: right;
    width: 430px;
    height: 325px;
    margin-top: -110px; } }

@media screen and (min-width: 740px) {
  .Footer-Inner {
    margin-top: 25px; }
    .Footer-Inner .Contacts {
      float: left;
      width: 230px; }
    .Footer-Inner .Contacts-Info {
      float: left; }
      .Footer-Inner .Contacts-Info .Contacts-Links {
        display: inline-block; }
      .Footer-Inner .Contacts-Info a {
        display: inline-block; }
      .Footer-Inner .Contacts-Info .Phone, .Footer-Inner .Contacts-Info .Email {
        margin-left: 20px; }
    .Footer-Inner .Map {
      margin: 0;
      float: right; }
    .Footer-Inner .Made-By {
      float: right;
      margin-bottom: 50px; }
  .Page-Home .Made-By {
    margin-top: 10px; } }

@media screen and (min-width: 1000px) {
  .Contacts {
    width: 490px; }
  .Map {
    float: right;
    width: 75%;
    height: 430px;
    margin-top: -155px; }
  .Footer-Inner {
    margin-top: 32px;
    padding: 0 20px; } }

@media screen and (min-width: 1200px) {
  .Footer-Inner {
    padding: 0; }
    .Footer-Inner .Contacts {
      width: 240px; }
    .Footer-Inner .Letters {
      display: none; }
    .Footer-Inner .Map {
      width: 960px; }
  .Page-Home .Made-By {
    margin-top: 20px; } }

.Pagination {
  margin-top: 50px;
  text-align: center; }
  .Pagination ul {
    margin-top: 12px;
    padding: 20px 0;
    font-size: 0; }
  .Pagination li {
    display: inline-block; }
  .Pagination .pagenav {
    font-size: 20px; }
  .Pagination span.pagenav {
    background-image: url(./../img/pagination.svg);
    display: inline-block;
    height: 43px;
    width: 39px;
    padding: 11px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: #598aed; }
  .Pagination a.pagenav {
    padding: 20px 10px;
    color: #000;
    text-decoration: none; }
    .Pagination a.pagenav:hover {
      color: #f1627f; }
  .Pagination .pagination-start,
  .Pagination .pagination-end,
  .Pagination .pagination-prev,
  .Pagination .pagination-next {
    display: none; }
  .Pagination .Next-Page {
    background-image: url(./../img/bg-d-button-more.png);
    display: inline-block;
    height: 54px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-repeat: no-repeat;
    background-size: contain; }
    .Pagination .Next-Page:hover {
      background-image: url(./../img/bg-d-button-more-h.png); }
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .Pagination .Next-Page {
        background-image: url(./../img/bg-m-button-more@2x.png); }
        .Pagination .Next-Page:hover {
          background-image: url(./../img/bg-m-button-more-h@2x.png); } }
    @media screen and (min-width: 740px) {
      .Pagination .Next-Page {
        padding: 0 20px;
        font-size: 20px;
        line-height: 54px;
        letter-spacing: 2px; } }
    .Pagination .Next-Page:hover {
      color: #f1627f; }

.Letters a.Underline-2:hover:before {
  background-image: url(./../img/line-2-h.svg); }
  @media screen and (max-width: 739px) {
    .Letters a.Underline-2:hover:before {
      background-image: url(./../img/m-line-2-h.svg); } }

.Letters .Underline-2:before {
  background-image: url(./../img/line-2.svg); }
  @media screen and (max-width: 739px) {
    .Letters .Underline-2:before {
      background-image: url(./../img/m-line-2.svg); } }

@media screen and (max-width: 739px) {
  .Letters .Underline-2 {
    margin-right: 25.7142857143px;
    width: 70.4285714286px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Letters .Underline-2 {
    margin-right: 10%;
    width: 21%; } }

@media screen and (min-width: 1000px) {
  .Letters .Underline-2 {
    margin-right: 10%;
    width: 21%; } }

.Letters a.Underline-5:hover:before {
  background-image: url(./../img/line-5-h.svg); }
  @media screen and (max-width: 739px) {
    .Letters a.Underline-5:hover:before {
      background-image: url(./../img/m-line-5-h.svg); } }

.Letters .Underline-5:before {
  background-image: url(./../img/line-5.svg); }
  @media screen and (max-width: 739px) {
    .Letters .Underline-5:before {
      background-image: url(./../img/m-line-5.svg); } }

@media screen and (max-width: 739px) {
  .Letters .Underline-5 {
    margin-right: 25.7142857143px;
    width: 177.571428571px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Letters .Underline-5 {
    margin-right: 10%;
    width: 54%; } }

@media screen and (min-width: 1000px) {
  .Letters .Underline-5 {
    margin-right: 10%;
    width: 54%; } }

.Letters a.Underline-6:hover:before {
  background-image: url(./../img/line-6-h.svg); }
  @media screen and (max-width: 739px) {
    .Letters a.Underline-6:hover:before {
      background-image: url(./../img/m-line-6-h.svg); } }

.Letters .Underline-6:before {
  background-image: url(./../img/line-6.svg); }
  @media screen and (max-width: 739px) {
    .Letters .Underline-6:before {
      background-image: url(./../img/m-line-6.svg); } }

@media screen and (max-width: 739px) {
  .Letters .Underline-6 {
    margin-right: 25.7142857143px;
    width: 213.285714286px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Letters .Underline-6 {
    margin-right: 10%;
    width: 65%; } }

@media screen and (min-width: 1000px) {
  .Letters .Underline-6 {
    margin-right: 10%;
    width: 65%; } }

.Letters a.Underline-7:hover:before {
  background-image: url(./../img/line-7-h.svg); }
  @media screen and (max-width: 739px) {
    .Letters a.Underline-7:hover:before {
      background-image: url(./../img/m-line-7-h.svg); } }

.Letters .Underline-7:before {
  background-image: url(./../img/line-7.svg); }
  @media screen and (max-width: 739px) {
    .Letters .Underline-7:before {
      background-image: url(./../img/m-line-7.svg); } }

@media screen and (max-width: 739px) {
  .Letters .Underline-7 {
    margin-right: 25.7142857143px;
    width: 249px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Letters .Underline-7 {
    margin-right: 10%;
    width: 76%; } }

@media screen and (min-width: 1000px) {
  .Letters .Underline-7 {
    margin-right: 10%;
    width: 76%; } }

.Letters a.Underline-8:hover:before {
  background-image: url(./../img/line-8-h.svg); }
  @media screen and (max-width: 739px) {
    .Letters a.Underline-8:hover:before {
      background-image: url(./../img/m-line-8-h.svg); } }

.Letters .Underline-8:before {
  background-image: url(./../img/line-8.svg); }
  @media screen and (max-width: 739px) {
    .Letters .Underline-8:before {
      background-image: url(./../img/m-line-8.svg); } }

@media screen and (max-width: 739px) {
  .Letters .Underline-8 {
    margin-right: 25.7142857143px;
    width: 284.714285714px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Letters .Underline-8 {
    margin-right: 10%;
    width: 87%; } }

@media screen and (min-width: 1000px) {
  .Letters .Underline-8 {
    margin-right: 10%;
    width: 87%; } }

.Letters a:hover {
  cursor: pointer;
  color: #f1627f; }

.Letters p [class^=Underline-] {
  position: relative;
  background-size: contain; }
  .Letters p [class^=Underline-]:before {
    content: ' ';
    position: absolute;
    width: 120%;
    left: -10%;
    height: 80px;
    top: -30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .Letters p [class^=Underline-]:last-child {
    margin-right: 0; }

@media screen and (max-width: 739px) {
  .Letters p [class=Underline-6]:before {
    width: 123%;
    top: -32px;
    left: -11%; } }

.Letters a.Underline-2:before {
  background-position-y: 44px;
  top: -26px; }

.Letters {
  display: none;
  cursor: default; }
  .Letters small {
    display: inline-block;
    text-align: center; }
  .Letters a {
    color: #000; }
  @media screen and (max-width: 739px) {
    .Letters.Mobile {
      width: 320px;
      display: block;
      font-size: 14px; }
      .Letters.Mobile p {
        padding: 0 30px; }
        .Letters.Mobile p small {
          margin-right: 25.7142857143px;
          width: 10px; }
          .Letters.Mobile p small:last-child {
            text-align: right;
            margin-right: 0; }
      .Letters.Mobile > p + p {
        margin-top: 28px; } }
  @media screen and (min-width: 740px) {
    .Letters.Tab {
      font-size: 16px; }
      .Letters.Tab small {
        margin-right: 10%;
        width: 1%; }
        .Letters.Tab small:last-child {
          text-align: right;
          margin-right: 0; }
      .Letters.Tab > p + p,
      .Letters.Tab > .Home-Text + p {
        margin-top: 28px; } }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Letters.Tab {
      display: block;
      width: 660px; } }
  @media screen and (min-width: 1000px) {
    .Letters.Desktop {
      display: block;
      width: 685px; }
      .Letters.Desktop small {
        margin-right: 10%;
        width: 1%; }
        .Letters.Desktop small:last-child {
          text-align: right;
          margin-right: 0; }
      .Letters.Desktop > p + p,
      .Letters.Desktop > .Home-Text + p {
        margin-top: 28px; } }

.Projects {
  line-height: 1; }
  .Projects hr {
    display: none;
    visibility: hidden;
    clear: both;
    height: 0;
    border: none; }
    @media screen and (min-width: 1000px) {
      .Projects hr {
        display: block; } }

.Projects-List {
  line-height: 0;
  font-size: 0; }

@media screen and (max-width: 739px) {
  .Project {
    width: 50%; }
    .Project.Empty-Project {
      display: none; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Project {
    width: 33.33%; }
    .Project:nth-of-type(6n+1) {
      float: left; }
    .Project:nth-of-type(6n+2), .Project:nth-of-type(6n+3) {
      float: right; }
    .Project:nth-of-type(5) {
      clear: left; }
    .Project:nth-of-type(6n+4), .Project:nth-of-type(6n+5) {
      float: left; }
    .Project.Empty-Project {
      display: none; } }

@media screen and (min-width: 1000px) {
  .Project {
    width: 25%; }
    .Project:nth-of-type(10n+1) {
      float: left; }
    .Project:nth-of-type(10n+6), .Project:nth-of-type(10n+7), .Project:nth-of-type(10n+8), .Project:nth-of-type(10n+9) {
      float: left; }
    .Project.Desktop-Clear-Left {
      clear: left; } }

.Empty-Project {
  clear: left; }

.Page-Home .Projects h2 {
  display: none; }

@media screen and (min-width: 1000px) {
  .Page-Home .After-Component {
    margin: 20px auto; } }

.Page-Home .After-Component .Desktop.Letters {
  margin-left: 100px;
  width: 850px; }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Home .Component {
    margin-top: 20px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Home .After-Component {
    margin-top: 20px; } }

.Page-Projects.Page-Level-2 .Before-Component {
  display: none; }

.Page-Projects.Page-Level-2 .Projects-List {
  overflow: hidden; }

@media screen and (max-width: 739px) {
  .Page-Projects .Projects h2,
  .Page-Team .Projects h2 {
    margin: 25px 0;
    padding: 0 30px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Projects .Projects h2,
  .Page-Team .Projects h2 {
    margin-bottom: 30px; } }

@media screen and (min-width: 1000px) {
  .Page-Projects .Projects > h2,
  .Page-Projects .Team-Header,
  .Page-Team .Projects > h2,
  .Page-Team .Team-Header {
    width: 685px;
    margin: 0 auto 25px; } }

@media screen and (max-width: 739px) {
  .Page-Home .Big-Mobile,
  .Page-Projects .Big-Mobile {
    width: 100%; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Home .Big-Tab,
  .Page-Projects .Big-Tab {
    width: 66.66%; } }

@media screen and (min-width: 1000px) {
  .Page-Home .Big-Desktop,
  .Page-Projects .Big-Desktop {
    width: 50%; } }

.Page-Blog.Page-Level-1 .After-Component {
  display: none; }

.Page-Blog.Page-Level-2 .Before-Component {
  display: none;
  top: 69px;
  z-index: 100;
  color: #fff;
  margin-top: 60px; }

.Page-Blog.Page-Level-2 .Footer-Inner {
  clear: both; }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Blog-Post .Blog-Post-Image .Letters.Tab {
    width: 440px; } }

@media screen and (min-width: 740px) {
  .Page-Pr .Project,
  .Page-Gr .Project {
    width: 50%; } }

@media screen and (min-width: 1000px) {
  .Page-Pr .Project,
  .Page-Gr .Project {
    width: 33.33%; } }

.Page-Agency main,
.Page-Pr main,
.Page-Blog.Page-Level-1 main,
.Page-Gr main {
  position: relative; }

.Page-Agency .Before-Component,
.Page-Pr .Before-Component,
.Page-Blog.Page-Level-1 .Before-Component,
.Page-Gr .Before-Component {
  position: absolute;
  left: 0;
  right: 0; }

.Page-Home .Before-Component {
  position: relative;
  z-index: 1; }

.Page-Home .Component {
  position: relative;
  z-index: 2; }

@media screen and (min-width: 1000px) {
  .Page-Blog.Page-Level-1 .Component {
    min-height: 2150px; } }

.Modal-Outer {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.Modal {
  position: absolute;
  left: 5%;
  width: 90%;
  display: inline-block;
  background-color: #fff;
  padding: 25px 15px;
  top: 50%;
  margin-top: -238px; }
  @media screen and (min-width: 740px) {
    .Modal {
      padding: 50px 30px;
      left: 50%;
      width: 516px;
      margin-top: -201.5px;
      margin-left: -258px; } }
  .Modal .Close {
    background-image: url(./../img/ico-d-close.png);
    float: right;
    width: 25px;
    height: 23px;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
    .Modal .Close:hover {
      background-image: url(./../img/ico-d-close-h.png); }
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .Modal .Close {
        background-image: url(./../img/ico-m-close@2x.png); }
        .Modal .Close:hover {
          background-image: url(./../img/ico-m-close-h@2x.png); } }
  .Modal h3 {
    font-size: 20px;
    line-height: 26px; }
    @media screen and (min-width: 740px) {
      .Modal h3 {
        font-size: 30px;
        line-height: 36px; } }
  .Modal .Form-Row label {
    width: 100%;
    display: block; }
    @media screen and (min-width: 740px) {
      .Modal .Form-Row label {
        display: inline-block;
        width: 100px; } }
  .Modal .Form-Row input, .Modal .Form-Row textarea {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; }
    @media screen and (min-width: 740px) {
      .Modal .Form-Row input, .Modal .Form-Row textarea {
        margin: 0;
        width: 350px; } }
  .Modal .Form-Row textarea {
    vertical-align: top;
    padding-top: 7px; }
  .Modal .Form-Row input:focus, .Modal .Form-Row textarea:focus {
    outline: none;
    border-color: #fc0; }
  .Modal .Form-Row.Form-Row {
    margin-top: 30px; }
  .Modal .Send, .Modal .Close-Button {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px 34px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url(./../img/ico-m-send-button.png);
    cursor: pointer; }
    .Modal .Send:hover, .Modal .Close-Button:hover {
      color: #f1627f;
      background-image: url(./../img/ico-m-send-button-h.png); }
    @media screen and (min-width: 740px) {
      .Modal .Send, .Modal .Close-Button {
        margin-left: 100px;
        width: auto;
        font-size: 20px;
        padding: 14px 34px;
        background-image: url(./../img/ico-d-send-button.png); }
        .Modal .Send:hover, .Modal .Close-Button:hover {
          background-image: url(./../img/ico-d-send-button-h.png); } }
  .Modal .Close-Button {
    padding: 24px 24px;
    margin-left: 0; }
  .Modal .Message {
    padding: 10px 0 0;
    font-weight: 700; }
    .Modal .Message.Error {
      color: #bf0000; }

.Hamburger {
  display: block;
  float: right;
  margin: -19px 15px 0 -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 20px 35px 25px 25px; }
  .Hamburger span {
    display: block;
    background-image: url(./../img/hamburger.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px; }
  @media screen and (min-width: 740px) {
    .Hamburger {
      display: none; } }

/*
nav
{
    &.Active span
    {
        background-color : transparent;
    }
    &.Active span:before,
    &.Active span:after
    {
        top : 0;
    }
    &.Active span:before
    {
        transform : rotate(360deg + 45deg);
    }
    &.Active span:after
    {
        transform : rotate(360deg + 135deg);
    }
}
*/
@media screen and (max-width: 739px) {
  .Page-Home .Before-Component {
    margin-top: 10px; }
  .Page-Home .Component {
    margin-top: 22px; }
  .Page-Home .After-Component {
    margin-top: 37px; }
    .Page-Home .After-Component .Mobile:last-child {
      margin-top: 20px; }
  .Page-Home .Contacts {
    margin-bottom: 88px; } }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Home .Before-Component {
    margin-top: 28px; }
  .Page-Home .Component {
    margin-top: 33px; }
  .Page-Home .After-Component {
    margin-top: 40px; } }

@media screen and (min-width: 1000px) {
  .Page-Home .Before-Component {
    margin-top: 20px; }
  .Page-Home .Component {
    margin-top: 34px; }
  .Page-Home .Contacts {
    margin-bottom: 35px; } }

.Company-Logo {
  display: inline-block;
  vertical-align: middle; }

.Home-Text {
  font-size: 16px;
  line-height: 22px; }
  @media screen and (max-width: 739px) {
    .Home-Text {
      padding: 20px 30px 50px; } }
  @media screen and (min-width: 740px) {
    .Home-Text {
      padding: 27px 0 0;
      float: right;
      width: 300px; } }
  @media screen and (min-width: 1000px) {
    .Home-Text {
      width: 420px;
      margin-right: -110px; } }
  .Home-Text p + p {
    margin-top: 8px; }

.Info-Services {
  font-size: 0; }
  .Info-Services + .Letters {
    margin-top: -30px; }

.Info-Service {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 50px 30px;
  font-size: 16px; }
  @media screen and (min-width: 740px) {
    .Info-Service {
      width: 200px;
      margin-top: 10px;
      padding: 50px 0 45px; } }
  @media screen and (min-width: 1000px) {
    .Info-Service {
      width: 30%;
      margin-top: 20px;
      padding: 50px 15px 45px 0; } }
  .Info-Service:before {
    position: absolute;
    content: '';
    width: 61px;
    height: 83px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 59px 72px; }
  .Info-Service:nth-child(1):before {
    background-image: url(./../img/flag.svg); }
  .Info-Service:nth-child(2):before {
    background-image: url(./../img/tie.svg); }
  .Info-Service:nth-child(3):before {
    background-image: url(./../img/mic.svg); }
  @media screen and (max-width: 739px) {
    .Info-Service:nth-child(1):before {
      left: 7px;
      top: 3px; }
    .Info-Service:nth-child(2):before {
      left: -14px;
      top: 11px; }
    .Info-Service:nth-child(3):before {
      left: -10px;
      top: 0; } }
  @media screen and (min-width: 740px) {
    .Info-Service:nth-child(1):before {
      left: -25px;
      top: 3px; }
    .Info-Service:nth-child(2):before {
      left: -46px;
      top: 9px; }
    .Info-Service:nth-child(3):before {
      left: -46px;
      top: -4px; } }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .Info-Service:nth-child(1):before {
      background-image: url(./../img/flag.svg); }
    .Info-Service:nth-child(2):before {
      background-image: url(./../img/tie.svg); }
    .Info-Service:nth-child(3):before {
      background-image: url(./../img/mic.svg); } }
  @media screen and (min-width: 740px) {
    .Info-Service + .Info-Service {
      margin-left: 30px; } }
  @media screen and (min-width: 1000px) {
    .Info-Service + .Info-Service {
      margin-left: 5%; } }
  .Info-Service h3 {
    font-weight: 700; }
  .Info-Service p {
    margin-top: 10px;
    line-height: 20px; }

.Contacts {
  line-height: 30px; }
  .Contacts .Mobile.Letters {
    margin-top: 50px; }
  .Contacts .Made-By {
    margin-bottom: 50px;
    line-height: 20px; }
    .Contacts .Made-By a {
      display: inline-block;
      padding-bottom: 2px;
      background: url(./../img/bg-m-underline.png) center bottom no-repeat; }
      .Contacts .Made-By a:hover {
        background: url(./../img/bg-m-underline-h.png) center bottom no-repeat; }

@media screen and (max-width: 739px) {
  .Map {
    display: none; } }

.clr {
  clear: both; }

.Page-Agency .Before-Component {
  margin-top: 10px;
  z-index: 1; }

.Page-Agency .Component {
  position: relative;
  z-index: 2; }

.Page-Agency .moduletable {
  margin-bottom: 50px; }

.Page-Agency .Dialog {
  background-image: url(./../img/lamp.svg);
  width: 100%;
  margin-top: 50px;
  padding-top: 176px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 99px 176px; }
  @media screen and (max-width: 739px) {
    .Page-Agency .Dialog {
      margin-top: 60px;
      padding-bottom: 80px; } }
  .Page-Agency .Dialog .Button-1 {
    margin-top: 15px; }

@media screen and (min-width: 740px) {
  .Page-Agency .Before-Component {
    margin-top: 32px; }
  .Page-Agency .Footer-Inner {
    margin-top: 80px; } }

@media screen and (min-width: 1000px) {
  .Page-Agency .Before-Component {
    margin-top: 0px; } }

.Node-A:last-child {
  padding-top: 0; }

.Node-A h1 {
  margin-bottom: 18px;
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase; }
  @media screen and (max-width: 739px) {
    .Node-A h1 {
      font-size: 22px; } }
  @media screen and (min-width: 1000px) {
    .Node-A h1 {
      margin-bottom: 22px; } }

.Node-A .P1 {
  font-size: 20px;
  padding: 0; }

.Node-A .P2 {
  padding-bottom: 0; }

.Node-A .P3 {
  margin-top: 8px; }

.Agency-Description {
  padding-bottom: 40px; }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Agency-Description {
      padding-top: 50px; } }
  .Agency-Description img.Img-2010 {
    display: block;
    max-width: 100%;
    width: auto;
    margin: 25px auto 8px; }
  .Agency-Description .Foundation-Year {
    display: block;
    width: 100%;
    padding-bottom: 40px;
    font-size: 13px;
    text-align: center; }
    @media screen and (min-width: 1000px) {
      .Agency-Description .Foundation-Year {
        padding-bottom: 32px; } }
  .Agency-Description .Government-Companies, .Agency-Description .Commercial-Companies {
    padding-top: 25px; }
    @media screen and (min-width: 740px) {
      .Agency-Description .Government-Companies, .Agency-Description .Commercial-Companies {
        padding-top: 15px; } }
    .Agency-Description .Government-Companies h3, .Agency-Description .Commercial-Companies h3 {
      letter-spacing: 0;
      font-size: 16px;
      font-weight: 700; }
    .Agency-Description .Government-Companies p, .Agency-Description .Commercial-Companies p {
      padding: 0; }

.Directors-Text {
  background: url("/templates/osstro/img/bg-ag-mob.jpg") no-repeat center top;
  background-size: cover;
  min-height: 540px; }
  @media screen and (min-width: 740px) {
    .Directors-Text {
      padding: 194px 30px 63px; } }

.Text-General {
  color: #fff;
  line-height: 22px; }
  .Text-General .Name {
    font-weight: 700; }
  @media screen and (min-width: 740px) {
    .Text-General {
      max-width: 260px; } }

.Comments {
  margin-top: 60px; }
  @media screen and (min-width: 740px) {
    .Comments {
      margin-top: 40px; } }
  .Comments .Comment + .Comment {
    margin-top: 55px; }
    @media screen and (min-width: 740px) {
      .Comments .Comment + .Comment {
        margin-top: 47px; } }
  @media screen and (min-width: 740px) {
    .Comments .Comment {
      padding: 0;
      max-width: 450px; } }
  .Comments .Comment-Author {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700; }
  .Comments .Comment-Position {
    padding-bottom: 0; }
  .Comments .Comment-Content {
    margin-top: 5px; }
  @media screen and (min-width: 740px) {
    .Comments .Comment-Content,
    .Comments .Comment-Position {
      padding-right: 90px; } }
  @media screen and (min-width: 1000px) {
    .Comments .Comment-Content,
    .Comments .Comment-Position {
      padding-right: 110px; } }
  .Comments .Comment-Content p,
  .Comments .Comment-Position p {
    display: inline;
    position: relative; }
    .Comments .Comment-Content p:before,
    .Comments .Comment-Position p:before {
      background-image: url(./../img/quote-l.svg);
      content: "";
      position: absolute;
      top: -2px;
      left: -1px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      vertical-align: text-bottom;
      margin-left: -30px; }
    .Comments .Comment-Content p:after,
    .Comments .Comment-Position p:after {
      background-image: url(./../img/quote-r.svg);
      content: "";
      position: absolute;
      right: -30px;
      bottom: -3px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      vertical-align: text-top; }

.P-free {
  margin-top: 8px; }

@media screen and (min-width: 740px) {
  .Comment {
    padding: 0 30px 50px; } }

.Quotes {
  position: relative; }
  .Quotes span {
    line-height: 24px; }

.Arr-Left {
  display: inline-block;
  position: absolute;
  left: -31px;
  width: 31px;
  height: 35px;
  background: url("/templates/osstro/img/ico-ag-Arr-Left.png") no-repeat center;
  background-size: cover; }

.Arr-Right {
  display: inline;
  width: 31px;
  height: 35px;
  margin-top: -6px;
  vertical-align: text-top; }

.Dialog {
  padding: 60px 0 0; }

.Lamp-Img {
  display: block;
  margin: 0 auto;
  padding-bottom: 35px; }

.Comment-Image {
  float: none; }
  @media screen and (min-width: 740px) {
    .Comment-Image {
      margin-right: -10px; } }
  @media screen and (min-width: 1000px) {
    .Comment-Image {
      margin-right: 0; } }

.Comment-Image > img {
  max-height: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  width: auto !important; }

.Button-1 {
  background-image: url(./../img/start-dialog.svg);
  transition: color .2s;
  width: 278px;
  height: 53px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 278px 53px; }

.Button-1:hover {
  color: #f1627f;
  background-image: url(./../img/start-dialog-h.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 278px 53px;
  transition: none; }

@media screen and (min-width: 740px) {
  .Node-A .Agency-Description .Government-Companies, .Node-A .Agency-Description .Commercial-Companies {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
  .Node-A .Img-2 {
    float: right; }
  .Node-A .Quotes {
    max-width: 85%; }
  .Comment-Image {
    float: right; }
  .Comments.Node-A {
    padding-bottom: 40px; } }

.Node-B {
  overflow: hidden;
  width: 100%; }
  @media screen and (max-width: 739px) {
    .Node-B {
      margin-top: 15px; } }
  @media screen and (min-width: 1000px) {
    .Node-B {
      padding-top: 0px; } }
  @media screen and (min-width: 1200px) {
    .Node-B {
      padding-top: 40px; } }
  .Directors-Text {
    background: url("/templates/osstro/img/bg-ag-agency.jpg") no-repeat center top/cover; }
    @media screen and (max-width: 739px) {
      .Directors-Text {
        position: relative; } }
    @media screen and (min-width: 740px) {
      .Directors-Text {
        min-height: 540px;
        padding-top: 30px;
        text-align: right; } }
    @media screen and (min-width: 1200px) {
      .Directors-Text {
        min-height: 460px;
        padding-top: 30px;
        text-align: right; } }
    .Directors-Text .Text-General {
      display: inline-block; }
      @media screen and (max-width: 739px) {
        .Directors-Text .Text-General {
          left: 30px;
          right: 30px;
          position: absolute;
          bottom: 50px; } }
      @media screen and (min-width: 740px) {
        .Directors-Text .Text-General {
          max-width: 268px;
          padding-right: 35px;
          text-align: left; } }
      .Directors-Text .Text-General .Name {
        margin-top: 35px; }

.Page-Pr .Before-Component, .Page-Gr .Before-Component {
  margin-top: 0;
  z-index: 1; }
  @media screen and (max-width: 739px) {
    .Page-Pr .Before-Component, .Page-Gr .Before-Component {
      margin-top: 15px; } }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Page-Pr .Before-Component, .Page-Gr .Before-Component {
      margin-top: 32px; } }

.Page-Pr .Footer-Inner, .Page-Gr .Footer-Inner {
  margin-top: 80px; }

.Page-Pr .Component, .Page-Gr .Component {
  position: relative;
  z-index: 10; }

.PR img {
  max-width: 100%; }

.PR h2 {
  margin: 0 25px 17px 0; }
  @media screen and (min-width: 740px) {
    .PR h2 {
      margin-bottom: 15px; } }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .PR h2 {
      padding-top: 50px; } }

@media screen and (max-width: 739px) {
  .PR .PR-Info,
  .PR .PR-Lists {
    padding-left: 30px;
    padding-right: 30px; } }

.PR .PR-List {
  padding-top: 10px; }
  @media screen and (min-width: 740px) {
    .PR .PR-List {
      padding-top: 20px; } }
  .PR .PR-List img {
    width: auto; }
  .PR .PR-List h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700; }
  @media screen and (max-width: 739px) {
    .PR .PR-List ul {
      padding-right: 15px; } }
  .PR .PR-List li {
    margin: 0;
    font-size: 16px;
    line-height: 20px; }
    .PR .PR-List li + li {
      margin-top: 10px; }

.PR .moduletable > h3 {
  margin: 60px 0 12px;
  font-weight: 400; }

.PR img {
  max-width: 100%; }

.PR-Lists {
  margin-top: 10px;
  position: relative;
  padding: 0; }
  @media screen and (min-width: 740px) {
    .PR-Lists {
      padding: 30px 30px 60px; } }
  @media screen and (min-width: 740px) {
    .PR-Lists {
      padding: 0; } }

.PR-List {
  position: relative;
  padding-right: 30px; }
  @media screen and (min-width: 740px) {
    .PR-List:first-of-type {
      padding-bottom: 40px; } }
  .PR-List h3 {
    margin-top: 0; }

.PR-List img {
  position: absolute;
  right: -30px; }

@media screen and (min-width: 740px) {
  .PR-List img {
    left: -30px;
    top: 20px; }
  .PR-List {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
    .PR-List:first-of-type {
      padding-bottom: 0; } }

@media screen and (min-width: 1200px) {
  .GR .Mobile.Tab {
    display: none; } }

@media screen and (min-width: 1px) and (max-width: 1199px) {
  .GR .Desktop {
    display: none; } }

.GR .GR-Info {
  position: relative;
  margin-bottom: 20px; }
  .GR .GR-Info img {
    position: absolute;
    left: -25px;
    top: -45px; }
    @media screen and (max-width: 739px) {
      .GR .GR-Info img {
        left: 5px; } }
  .GR .GR-Info h2 {
    margin: 0 25px 7px 0; }
    .GR .GR-Info h2.Desktop {
      display: block; }
    .GR .GR-Info h2.Mobile, .GR .GR-Info h2.Tab {
      display: none; }
    @media screen and (min-width: 740px) {
      .GR .GR-Info h2 {
        margin-bottom: 15px;
        font-size: 22px; } }
    @media screen and (min-width: 740px) and (max-width: 999px) {
      .GR .GR-Info h2 {
        margin-top: 50px; } }
    @media screen and (min-width: 1000px) {
      .GR .GR-Info h2 {
        margin-bottom: 15px; } }
  .GR .GR-Info p {
    font-size: 16px;
    line-height: 22px; }

.GR .GR-Lists {
  font-size: 0; }
  .GR .GR-Lists .GR-List {
    vertical-align: top;
    display: inline-block; }
    @media screen and (min-width: 740px) {
      .GR .GR-Lists .GR-List {
        width: 50%;
        padding-right: 5%; } }
    @media screen and (min-width: 1200px) {
      .GR .GR-Lists .GR-List {
        width: 45%;
        padding-right: 10%; } }
    .GR .GR-Lists .GR-List li {
      font-size: 16px;
      line-height: 20px; }
      .GR .GR-Lists .GR-List li + li {
        margin-top: 10px; }
  @media screen and (max-width: 739px) {
    .GR .GR-Lists .GR-List + .GR-List {
      margin-top: 10px; } }

.GR .moduletable > h3 {
  margin: 60px 0 12px; }

@media screen and (max-width: 739px) {
  .Page-Projects .itemSocialSharing {
    padding: 0 30px; } }

@media screen and (min-width: 740px) {
  .Page-Projects .itemSocialSharing {
    float: right;
    width: 430px; } }

@media screen and (min-width: 1000px) {
  .Page-Projects .itemSocialSharing {
    width: 660px; } }

.Post-Title {
  letter-spacing: 3px;
  margin-bottom: 40px; }
  @media screen and (max-width: 739px) {
    .Post-Title {
      margin-bottom: 30px; } }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Post-Title {
      padding-top: 50px; } }

.Blog {
  position: relative;
  z-index: 10; }

.Blog-Post .Blog-Post-Image {
  margin-bottom: 30px; }
  .Blog-Post .Blog-Post-Image img {
    display: block;
    width: 100%; }

.Blog-Post .Blog-Post-Text h5 {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px; }

.Blog-Post .Blog-Post-Image + a {
  line-height: 30px; }

.Blog-Post > a {
  display: inline-block; }
  .Blog-Post > a h3.Blog-Post-Title span {
    background-position: 0 24px; }

.Blog-Post > a > h3.Blog-Post-Title {
  display: inline-block; }

.Blog-Post > a,
.Blog-Post h2.Blog-Post-Title {
  margin-bottom: 10px;
  text-decoration: none; }

.Blog-Post h2.Blog-Post-Title {
  display: block; }

.Blog-Post > a {
  color: #000; }

@media screen and (max-width: 739px) {
  .Blog-Post header {
    margin-top: 60px;
    padding: 0 30px; }
  .Blog-Post .Blog-Post-Date {
    font-size: 13px; } }

@media screen and (min-width: 740px) {
  .Blog-Post h2.Blog-Post-Title {
    color: #fff; } }

.Blog-Post > * {
  line-height: 22px; }

.Blog-Post p + p {
  margin-top: 10px; }

.Blog-Post .Blog-Post-Meta {
  margin-top: 20px;
  line-height: 18px;
  font-size: 13px; }
  .Blog-Post .Blog-Post-Meta .Blog-Post-Tags,
  .Blog-Post .Blog-Post-Meta .Blog-Post-Date {
    padding-left: 10px; }
  .Blog-Post .Blog-Post-Meta .Blog-Post-Author,
  .Blog-Post .Blog-Post-Meta .Blog-Post-Tags {
    padding-right: 20px;
    background: url(./../img/ico-d-post-meta.png) right center no-repeat; }

.Blog-Post + .Blog-Post {
  margin-top: 50px; }

.Page-Blog main {
  position: relative; }

.Page-Blog.Page-Level-2 main {
  position: relative; }

@media screen and (min-width: 740px) and (max-width: 999px) {
  .Page-Blog.Page-Level-2 .Blog-Post-Image header {
    margin-top: 60px;
    margin-bottom: 20px;
    float: right;
    width: 600px; }
  .Page-Blog.Page-Level-2 .Blog-Post-Image h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: #000; }
  .Page-Blog.Page-Level-2 .Blog-Post-Image .Blog-Post-Date {
    font-size: 13px; } }

@media screen and (min-width: 1000px) {
  .Page-Blog.Page-Level-2 .Blog-Post-Image {
    position: relative; }
    .Page-Blog.Page-Level-2 .Blog-Post-Image header {
      position: absolute;
      right: 40px;
      bottom: 45px;
      width: 560px; }
      .Page-Blog.Page-Level-2 .Blog-Post-Image header h2 {
        margin-bottom: 14px;
        font-size: 30px;
        line-height: 36px; }
      .Page-Blog.Page-Level-2 .Blog-Post-Image header .Blog-Post-Date {
        font-size: 13px;
        color: #fff; } }

@media screen and (min-width: 1200px) {
  .Page-Blog.Page-Level-2 .Blog-Post-Image header {
    bottom: 60px; } }

.Page-Blog.Page-Level-2 .Blog-Post-Image > div {
  background: black; }

.Page-Blog.Page-Level-2 .Blog-Post-Image img {
  opacity: 0.8; }

@media screen and (min-width: 740px) {
  .Page-Blog.Page-Level-2 .Blog-Same-Posts,
  .Page-Blog.Page-Level-2 .Blog-Post-Text,
  .Page-Blog.Page-Level-2 .Blog-Post-Meta,
  .Page-Blog.Page-Level-2 .Blog-Post-Social {
    float: right;
    width: 600px; } }

.Page-Blog.Page-Level-2 .Blog-Post-Letters {
  left: 0;
  right: 0;
  position: absolute; }
  .Page-Blog.Page-Level-2 .Blog-Post-Letters .Letters {
    margin: 0 auto;
    color: #fff; }
    @media screen and (min-width: 1000px) {
      .Page-Blog.Page-Level-2 .Blog-Post-Letters .Letters {
        padding-top: 40px; }
        .Page-Blog.Page-Level-2 .Blog-Post-Letters .Letters p + p {
          margin-top: 19px; } }
    @media screen and (min-width: 1200px) {
      .Page-Blog.Page-Level-2 .Blog-Post-Letters .Letters p + p {
        margin-top: 28px; } }
    .Page-Blog.Page-Level-2 .Blog-Post-Letters .Letters.Desktop {
      width: 685px; }

.Page-Blog.Page-Level-2 .After-Component {
  margin-top: 50px;
  position: relative; }
  @media screen and (min-width: 740px) {
    .Page-Blog.Page-Level-2 .After-Component .Module {
      position: absolute; } }
  .Page-Blog.Page-Level-2 .After-Component .Blog-Same-Posts {
    margin-top: 150px;
    margin-bottom: 50px; }
    @media screen and (max-width: 739px) {
      .Page-Blog.Page-Level-2 .After-Component .Blog-Same-Posts {
        margin: 40px 30px; } }

.Blog-Same-Posts .Blog-Same-Post {
  display: block;
  position: relative; }
  .Blog-Same-Posts .Blog-Same-Post h5 {
    font-size: 13px;
    line-height: 18px; }
  .Blog-Same-Posts .Blog-Same-Post header {
    width: 300px;
    position: absolute;
    z-index: 100;
    bottom: 50px; }
    @media screen and (max-width: 739px) {
      .Blog-Same-Posts .Blog-Same-Post header {
        width: 280px;
        top: 30px;
        bottom: 0;
        left: 20px;
        right: 20px; } }
    @media screen and (min-width: 740px) {
      .Blog-Same-Posts .Blog-Same-Post header {
        left: 250px; } }
    .Blog-Same-Posts .Blog-Same-Post header .Blog-Post-Title {
      color: #fff; }
      @media screen and (max-width: 739px) {
        .Blog-Same-Posts .Blog-Same-Post header .Blog-Post-Title {
          font-size: 16px;
          line-height: 20px; } }
    .Blog-Same-Posts .Blog-Same-Post header .Blog-Post-Date {
      margin-top: 2px;
      font-size: 13px;
      color: #fff; }
  .Blog-Same-Posts .Blog-Same-Post .Blog-Same-Post-Image {
    background: black;
    -webkit-filter: brightness(60%);
    filter: brightness(60%); }
    .Blog-Same-Posts .Blog-Same-Post .Blog-Same-Post-Image img {
      display: block;
      width: 100%;
      opacity: 0.8; }
  .Blog-Same-Posts .Blog-Same-Post + .Blog-Same-Post {
    margin-top: 40px; }

.Page-Blog.Page-Level-2 .After-Component .Module {
  left: 0;
  right: 0; }
  @media screen and (min-width: 1000px) {
    .Page-Blog.Page-Level-2 .After-Component .Module {
      width: 800px;
      margin: 0 auto; } }
  @media screen and (min-width: 1200px) {
    .Page-Blog.Page-Level-2 .After-Component .Module {
      padding-left: 130px; } }

.Blog-Post-Social,
.Project-Social {
  margin-top: 55px; }
  @media screen and (max-width: 739px) {
    .Blog-Post-Social,
    .Project-Social {
      padding-bottom: 40px; } }
  .Blog-Post-Social .Share-Links,
  .Project-Social .Share-Links {
    background-image: url(./../img/social.svg);
    float: left;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    width: 286px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
    @media screen and (max-width: 739px) {
      .Blog-Post-Social .Share-Links,
      .Project-Social .Share-Links {
        display: block;
        float: none;
        margin: 0 auto; } }
    .Blog-Post-Social .Share-Links .like-button,
    .Project-Social .Share-Links .like-button {
      cursor: pointer; }
    .Blog-Post-Social .Share-Links > div,
    .Project-Social .Share-Links > div {
      width: 33%;
      text-align: center;
      float: left; }
      .Blog-Post-Social .Share-Links > div .like-counter,
      .Project-Social .Share-Links > div .like-counter {
        position: relative;
        display: inline-block;
        top: 1px;
        left: 0;
        font-size: 14px;
        color: #91a4ab;
        padding-left: 3px; }
      .Blog-Post-Social .Share-Links > div .like-button,
      .Project-Social .Share-Links > div .like-button {
        line-height: 44px;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        float: none !important;
        cursor: pointer; }
      .Blog-Post-Social .Share-Links > div.Share-Facebook .like-button,
      .Blog-Post-Social .Share-Links > div.Share-Twitter .like-button,
      .Blog-Post-Social .Share-Links > div.Share-Vk .like-button,
      .Project-Social .Share-Links > div.Share-Facebook .like-button,
      .Project-Social .Share-Links > div.Share-Twitter .like-button,
      .Project-Social .Share-Links > div.Share-Vk .like-button {
        background-position: center center;
        background-repeat: no-repeat; }
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .Blog-Post-Social .Share-Links > div.Share-Facebook .like-button,
          .Blog-Post-Social .Share-Links > div.Share-Twitter .like-button,
          .Blog-Post-Social .Share-Links > div.Share-Vk .like-button,
          .Project-Social .Share-Links > div.Share-Facebook .like-button,
          .Project-Social .Share-Links > div.Share-Twitter .like-button,
          .Project-Social .Share-Links > div.Share-Vk .like-button {
            background-size: 20px auto; } }
      .Blog-Post-Social .Share-Links > div.Share-Facebook .like-button,
      .Project-Social .Share-Links > div.Share-Facebook .like-button {
        width: 11px;
        height: 20px;
        background-image: url(./../img/ico-d-facebook.png);
        position: relative;
        top: -3px; }
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .Blog-Post-Social .Share-Links > div.Share-Facebook .like-button,
          .Project-Social .Share-Links > div.Share-Facebook .like-button {
            background-image: url(./../img/ico-m-facebook@2x.png); } }
      .Blog-Post-Social .Share-Links > div.Share-Facebook .like-counter,
      .Project-Social .Share-Links > div.Share-Facebook .like-counter {
        left: 5px; }
      .Blog-Post-Social .Share-Links > div.Share-Twitter .like-button,
      .Project-Social .Share-Links > div.Share-Twitter .like-button {
        width: 28px;
        height: 19px;
        background-image: url(./../img/ico-d-twitter.png);
        position: relative;
        left: -2px; }
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .Blog-Post-Social .Share-Links > div.Share-Twitter .like-button,
          .Project-Social .Share-Links > div.Share-Twitter .like-button {
            background-image: url(./../img/ico-m-twitter@2x.png); } }
      .Blog-Post-Social .Share-Links > div.Share-Vk .like-button,
      .Project-Social .Share-Links > div.Share-Vk .like-button {
        width: 25px;
        height: 14px;
        background-image: url(./../img/ico-d-vk.png);
        top: -4px;
        left: -6px;
        position: relative; }
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
          .Blog-Post-Social .Share-Links > div.Share-Vk .like-button,
          .Project-Social .Share-Links > div.Share-Vk .like-button {
            background-image: url(./../img/ico-m-vk@2x.png); } }
  .Blog-Post-Social .fb_iframe_widget,
  .Project-Social .fb_iframe_widget {
    background-image: url(./../img/facebook.svg);
    width: 116px;
    height: 44px;
    padding: 10px 4px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
    @media screen and (max-width: 739px) {
      .Blog-Post-Social .fb_iframe_widget,
      .Project-Social .fb_iframe_widget {
        display: block;
        float: none;
        margin: 5px auto; } }
    @media screen and (min-width: 740px) {
      .Blog-Post-Social .fb_iframe_widget,
      .Project-Social .fb_iframe_widget {
        float: left;
        margin-left: 20px; } }
  .Blog-Post-Social .Share-Hide-This,
  .Project-Social .Share-Hide-This {
    display: none; }

.Project-Item.Project-Item.No-Gallery {
  margin-top: 60px; }

.Gallery {
  position: relative;
  background: black;
  margin-bottom: 75px; }
  @media screen and (max-width: 739px) {
    .Gallery {
      margin-bottom: 60px; } }
  .Gallery .Gallery-Letters {
    position: absolute;
    z-index: 2;
    width: 100%;
    color: #fff; }
    .Gallery .Gallery-Letters .Tab {
      width: 430px; }
  .Gallery .fotorama {
    opacity: 0.8; }
    .Gallery .fotorama .fotorama__nav-wrap {
      position: absolute;
      bottom: 10px; }
      @media screen and (min-width: 740px) {
        .Gallery .fotorama .fotorama__nav-wrap {
          bottom: 20px; } }
    .Gallery .fotorama .fotorama__nav__frame.fotorama__active .fotorama__dot {
      border-width: 4px; }
    .Gallery .fotorama .fotorama__dot {
      width: 8px;
      height: 8px;
      border-color: #fff; }
    @media screen and (min-width: 740px) {
      .Gallery .fotorama .fotorama__arr--prev,
      .Gallery .fotorama .fotorama__arr--next {
        pointer-events: auto;
        cursor: pointer;
        opacity: 1; }
      .Gallery .fotorama .fotorama__arr--prev {
        background: url(./../img/bg-d-slider-arrow-left.png) center center no-repeat; }
        .Gallery .fotorama .fotorama__arr--prev:hover {
          background-image: url(./../img/bg-d-slider-arrow-left-h.png); }
      .Gallery .fotorama .fotorama__arr--next {
        background: url(./../img/bg-d-slider-arrow-right.png) center center no-repeat; }
        .Gallery .fotorama .fotorama__arr--next:hover {
          background-image: url(./../img/bg-d-slider-arrow-right-h.png); } }

.Title-Mobile {
  margin-bottom: 10px;
  padding: 0 30px;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase; }
  @media screen and (min-width: 740px) {
    .Title-Mobile {
      display: none; } }

.Project-Left-Row {
  line-height: 16px;
  font-size: 13px; }
  @media screen and (max-width: 739px) {
    .Project-Left-Row {
      padding: 0 30px 20px; } }
  @media screen and (min-width: 740px) {
    .Project-Left-Row {
      float: left;
      width: 230px;
      padding-right: 40px; } }
  @media screen and (min-width: 1200px) {
    .Project-Left-Row {
      width: 360px;
      padding-right: 130px; } }
  .Project-Left-Row .Services {
    margin-top: 35px; }
    .Project-Left-Row .Services li {
      line-height: 16px; }
    .Project-Left-Row .Services li + li {
      margin-top: 10px; }
  .Project-Left-Row .Year {
    background: url(./../img/bg-d-organization-circle.png) right center no-repeat;
    padding-right: 20px; }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Project-Left-Row .Organization {
      display: block; } }
  @media screen and (min-width: 1200px) {
    .Project-Left-Row .Organization {
      padding-left: 10px; } }

.Project-Right-Row .Description strong {
  font-weight: 400;
  margin: 0;
  display: inline-block; }

.Project-Right-Row .Description strong + em {
  display: inline-block; }

.Project-Right-Row .Description em {
  display: inline-block;
  line-height: 1.2; }

.Project-Right-Row .Description li {
  margin-left: 0; }

.Project-Right-Row .Description h2 {
  margin-top: 45px; }

.Project-Right-Row .Description h3 {
  margin-top: 45px; }

@media screen and (max-width: 739px) {
  .Project-Right-Row {
    padding: 0 30px; } }

@media screen and (min-width: 740px) {
  .Project-Right-Row {
    float: right;
    width: 430px; } }

@media screen and (min-width: 1000px) {
  .Project-Right-Row {
    width: 660px; } }

.Project-Right-Row h2.Title {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 3px;
  text-transform: uppercase; }
  @media screen and (max-width: 739px) {
    .Project-Right-Row h2.Title {
      display: none; } }

.Project-Right-Row h3 {
  margin: 50px 0 10px;
  font-size: 20px;
  text-transform: uppercase; }

.Project-Right-Row p + p {
  margin-top: 20px; }

.Page-Blog .itemSocialSharing {
  margin-top: 60px; }
  @media screen and (min-width: 740px) {
    .Page-Blog .itemSocialSharing {
      float: right;
      width: 430px; } }
  @media screen and (min-width: 1200px) {
    .Page-Blog .itemSocialSharing {
      width: 760px; } }
  .Page-Blog .itemSocialSharing .itemFacebookButton {
    width: 200px;
    padding: 10px;
    background: url(./../img/bg-d-facebook.png) left center no-repeat; }
  .Page-Blog .itemSocialSharing #u_0_3 {
    max-width: 60px; }

.Grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .4s; }
  .Grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.Page-Projects.Page-Level-2 .Component .Module {
  margin: 90px 0 30px;
  position: relative; }

.Page-Contacts {
  position: relative;
  min-height: 100vh; }
  .Page-Contacts main {
    width: 100%; }
  .Page-Contacts header {
    margin: 0 auto; }
    @media screen and (max-width: 739px) {
      .Page-Contacts header .Company-Logo {
        margin-left: 25px; } }
    @media screen and (min-width: 740px) {
      .Page-Contacts header {
        max-width: none;
        width: 100%;
        padding: 0 30px 0 25px; } }
  .Page-Contacts .Cont {
    position: relative; }
  .Page-Contacts .Header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 170px;
    padding: 45px 40px 25px 25px;
    background: white;
    line-height: 28px; }
    @media screen and (max-width: 739px) {
      .Page-Contacts .Header {
        width: 100%;
        height: auto;
        padding: 10px 40px 25px 25px; } }
    .Page-Contacts .Header h2 {
      margin-left: -1px;
      text-transform: uppercase;
      font-size: 30px;
      line-height: normal;
      letter-spacing: 2px; }
    .Page-Contacts .Header .AC {
      display: inline-block; }
  .Page-Contacts .Map {
    display: block !important;
    width: 100%;
    height: calc(100vh - 75px);
    margin-top: 0; }
  .Page-Contacts .Contacts-Info {
    display: none; }
  .Page-Contacts .Made-By {
    position: absolute;
    right: 60px;
    bottom: 20px; }
    @media screen and (max-width: 739px) {
      .Page-Contacts .Made-By {
        left: 35px;
        right: auto;
        padding: 0;
        margin-bottom: 0; } }
  .Page-Contacts .Footer-Inner, .Page-Contacts main {
    position: relative;
    padding: 0; }
  .Page-Contacts .Contacts-Inner {
    position: relative;
    width: 100%; }
  .Page-Contacts footer.Footer-Inner {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 240px;
    z-index: 10; }

.Team .Team-Header {
  display: block;
  margin-bottom: 30px; }

.Specialist {
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  width: 100%; }
  @media screen and (max-width: 739px) {
    .Specialist {
      padding: 0 30px 40px; } }
  @media screen and (min-width: 740px) and (max-width: 999px) {
    .Specialist {
      padding-bottom: 30px;
      width: 50%; }
      .Specialist:nth-child(odd) {
        padding-left: 15px; }
      .Specialist:nth-child(even) {
        padding-right: 15px; } }
  @media screen and (min-width: 1000px) and (max-device-pixel-ratio: 1) {
    .Specialist {
      width: 45%; } }
  @media screen and (min-width: 1000px) {
    .Specialist {
      width: 40%;
      padding-bottom: 60px;
      padding-right: 30px; } }
  @media screen and (min-width: 1200px) {
    .Specialist {
      width: 33.33%; } }
  .Specialist-Image img {
    margin-bottom: 15px; }
  .Specialist h4 {
    margin-top: 5px;
    font-weight: 700; }
  .Specialist li + li {
    margin-top: 5px; }

/*# sourceMappingURL=init.css.map */
