%Multicolumn-Inline
{
    font-size : 0;

    & > *
    {
        display : inline-block;
    }
}


%Multicolumn-Inline-Centrate
{
    @extend %Multicolumn-Inline;
    text-align : center;
}


%Multicolumn-Float
{
    *
    {
        @extend %Clearfix;
        & > *
        {
            float : left;
        }
    }
}


%Img-Blockify
{
    display : block;
    width   : 100%;
}