.Your-Class {
  @extend %Clearfix;
  @include Opacity(0.5);

  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 10px;
  padding: 10px;

  background: black;
  border: 10px;
  outline: 20px;

  color: white;
  font-size: 10px;
  font-weight: 100;

  @include Adaptive($VP-Iphone-6) {

  }

  @include Adaptive($VP-Laptop) {

  }

  @include Adaptive($VP-HD) {

  }
}