%Clearfix:before,
%Clearfix:after
{
    content : " ";
    display : table;
}


%Clearfix:after
{
    clear : both;
}


%Click-Through
{
    cursor : default;
    &::selection
    {
        background-color : transparent;
    }
}


%Inline
{
    @extend %Clearfix;
    & > *
    {
        float : left;
    }
}


.Left
{
    float : left;
}


.Right
{
    float : right;
}


.Text-Right
{
    text-align : right;
}


.Text-Left
{
    text-align : left;
}