////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin Adaptive-Phone-Only
{
    @media screen and (max-width : 739px) {
        @content;
    }
}


@mixin Adaptive-Tablet-Only
{
    @media screen and (min-width : $Tablet) and (max-width : 999px) {
        @content;
    }
}

@mixin Adaptive-Desktop-1k
{
    @media screen and (min-width : 1000px) {
        @content;
    }
}

@mixin Adaptive-Desktop-Only
{
    @media screen and (min-width : $Desktop) {
        @content;
    }
}

@mixin Adaptive-2x
{
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        @content;
    }
}
@mixin Adaptive-Tablet-2x
{
    @media (min-width : $Tablet) and (min-device-pixel-ratio: 2) {
        @content;
    }
}
@mixin Adaptive-Tablet
{
    @media screen and (min-width : $Tablet) {
        @content;
    }
}
@mixin Adaptive-Desktop-Small
{
    @media screen and (min-width: 1000px) and (max-device-pixel-ratio: 1)
    {
        @content;
    }
}
@mixin Adaptive-Desktop
{
    @media screen and (min-width : $Desktop) {
        @content;
    }
}


@mixin Adaptive($Viewport, $Mode: min-width) {
    @media screen and (#{$Mode}: $Viewport) {
        @content;
    }
}


@mixin Adaptive-Range($Viewport-min, $Viewport-max) {
    @media screen and (min-width : $Viewport-min) and (max-width : $Viewport-max) {
        @content;
    }
}

@mixin Bg-Img($Bg-Name, $Hover-Enabled: false, $Prefix: bg)
{
    background-image: url(#{$Folder-Img}#{$Prefix}-d-#{$Bg-Name}.png);
    @if $Hover-Enabled
    {
        &:hover
        {
            background-image: url(#{$Folder-Img}#{$Prefix}-d-#{$Bg-Name}-h.png);
        }
    }
    @include Adaptive-2x
    {
        background-image : url(#{$Folder-Img}#{$Prefix}-m-#{$Bg-Name}@2x.png);
        @if $Hover-Enabled
        {
            &:hover
            {
                background-image : url(#{$Folder-Img}#{$Prefix}-m-#{$Bg-Name}-h@2x.png);
            }
        }
    }
}

@mixin Bg-Pseudoelement-Img($Bg-Name, $Hover-Enabled: false, $Prefix: bg)
{
    &:before
    {
        background-image: url(#{$Folder-Img}#{$Prefix}-d-#{$Bg-Name}.png);
    }

    @if $Hover-Enabled
    {
        &:hover:before
        {
            background-image: url(#{$Folder-Img}#{$Prefix}-d-#{$Bg-Name}-h.png);
        }
    }
    @include Adaptive-2x
    {
        &:before
        {
            background-image : url(#{$Folder-Img}#{$Prefix}-m-#{$Bg-Name}@2x.png);
        }

        &:hover:before
        {
            background-image : url(#{$Folder-Img}#{$Prefix}-m-#{$Bg-Name}-h@2x.png);
        }
    }
}

@mixin BG-SVG($Filename)
{
    background-image: url(#{$Folder-Img}#{$Filename}.svg);

}

@mixin Centrate-Absolute()
{

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Makes footer sticked to the bottom of the page
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin Sticky-Footer( $Content-Wrap-Name, $Footer-Pusher-Name, $Footer-Name, $Footer-Height) {
    html,
    body,
    #{$Content-Wrap-Name}
    {
        height : 100%;
    }

    #{$Content-Wrap-Name}
    {
        height     : auto;
        min-height : 100%;
        clear      : both;
    }

    #{$Footer-Pusher-Name}
    {
        clear : both;
    }

    #{$Footer-Pusher-Name},
    #{$Footer-Name}
    {
        height : $Footer-Height;
    }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////