//----------------------------------------------------------------------------------------------------------------------
// Framework global variables
//
// 01 Project Folders
// 02 Typography
// 03 Color Palette
//
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// 01 Project Folders
//----------------------------------------------------------------------------------------------------------------------

$Folder-Img : './../img/';
$Folder-Fonts : '../fonts/';

//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
// 02 Typography
//----------------------------------------------------------------------------------------------------------------------

$Text-Size-xs:      12px;
$Text-Size-s:       13px;
$Text-Size-Default: 16px;
$Text-Size-l:       20px;
$Text-Size-xl:      30px;

$Text-LineHeight-Default: 22px;

//----------------------------------------------------------------------------------------------------------------------

$Color-Blue: #5688ed;
$Color-Red: #f1627f;
$Color-Gray: #999;

//----------------------------------------------------------------------------------------------------------------------
// 03 Color Palette
//----------------------------------------------------------------------------------------------------------------------


//----------------------------------------------------------------------------------------------------------------------
// 04 Junk
//----------------------------------------------------------------------------------------------------------------------

$Tablet : 740px;
$Desktop : 1200px;


$Letters-Count-Mobile: 8;
$Letters-Count-Desktop: 10;

// old var
$Letters-Font-Size : 16px;

// Width of content block
$Content-Width : 1200px;
$Tablet-Content-Width : 700px;
// Side padding of content block
$Content-Padding : 40px;
$Tablet-Content-Padding : 20px;

// Width of content block minus padding from sides
$Content-E-Width : $Content-Width - ( 2 * $Content-Padding );
$Tablet-Content-E-Width : $Tablet-Content-Width - ( 2 * $Tablet-Content-Padding);
// Width and Height of LETTER cell
$Letter-Cell-Size : $Content-E-Width / 10;
$Tablet-Letter-Cell-Size : $Tablet-Content-E-Width / 10;

$Letter-Underline-Height : $Letter-Cell-Size / 2 + $Letters-Font-Size;